{% import "widgets.html.twig" as widgets %}
{% spaceless %}
<div class="row">
    <div class="medium-6 columns">
        <ul class="no-bullet">
            {% for place in section.getItems('Place') %}
                <li>
                    <i class="fi-marker"></i>
                    {{ place.title }}
                </li>
            {% endfor %}
            {% for linked_item in linked_sections_items %}
                <li>
                    {% if 'slide' == linked_item.type %}
                        <img src="{{ app.request.basepath }}/gallery/220/{{ linked_item.path }}"
                             style="width:45px">
                    {% elseif 'page' == linked_item.type %}
                        <i class="fi-page"></i>
                    {% endif %}
                    <em>{{ linked_item.title }}</em>
                    <small>{{ linked_item.section_title }}</small>
                    {% if linked_item.place|length %}
                        <i class="fi-marker"></i>
                    {% else %}
                        <button type="button"
                                class="tiny secondary button"
                                data-link-item="">
                            <i class="fi-paperclip"></i>
                        </button>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="medium-6 columns">
        <a href="#" class="button" data-dropdown-ajax="integrate-map-{{ section.id }}">
            <i class="fi-paperclip"></i>
            {{ 'maps.integrations.description'|trans }}
        </a>
        <ul id="integrate-map-{{ section.id }}" class="small f-dropdown attach-items" data-dropdown-content>
            {% for linkable_section in linkable_sections %}
                <li>
                    <a href="#"
                       class="{% if linkable_section.id in section.connectedSectionsId %}active{% endif %}"
                       data-attach="{{ path('admin_maps_manager_attach', {
                       'id': section.id,
                       'sectionId': linkable_section.id
                       }) }}">
                        {{ widgets.type_icon(linkable_section.type) }}
                        {{ linkable_section.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {{ form_start(form, {
        'action': path('admin_maps_manager_places', {'id': section.id}),
        'attr': {'id': 'place-form-'~section.id }
        }) }}
            {{ form_errors(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.latitude) }}
            {{ form_row(form.longitude) }}
            <div class="text-right">
                {{ widgets.btn_ajax() }}
            </div>
            <div class="hidden">
                {{ form_rest(form) }}
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endspaceless %}