{% import "widgets.html.twig" as widgets %}
{% spaceless %}
<div class="row">
    <div class="medium-6 columns">
        <p>{{ 'maps.integrations.description'|trans }}</p>
        <ul class="no-bullet">
        {% for linked_item in linked_sections_items %}
            <li>
                {% if 'slide' == linked_item.type %}
                    <img src="{{ app.request.basepath }}/gallery/220/{{ linked_item.path }}"
                         style="width:45px">
                {% endif %}
                <em>{{ linked_item.title }}</em>
                <small>({{ linked_item.section_title }})</small>
                {% if linked_item.place|length %}
                    <i class="fi-marker"></i>
                {% else %}
                    <button type="button"
                            class="tiny secondary button"
                            data-link-item="">
                        <i class="fi-paperclip"></i>
                    </button>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="medium-6 columns">
        {% for linkable_section in linkable_sections %}
        <div class="panel{% if linkable_section.id in section.connectedSectionsId %} active{% endif %}">
            {{ widgets.type_icon(linkable_section.type) }}
            {{ linkable_section.title }}
            <button type="button"
                    class="tiny secondary button right"
                    data-attach="{{ path('admin_maps_manager_attach', {
                        'id': section.id,
                        'sectionId': linkable_section.id
                    }) }}">
                <i class="fi-paperclip"></i>
            </button>
        </div>
        {% endfor %}
    </div>
</div>
{% endspaceless %}