{% spaceless %}
<div class="sidebar">
  <h1><a href="{{ path('homepage') }}">{{ site.name }}</a></h1>
  <ul class="side-nav">
    {% for section in sections
        if section.visibility not in ['hidden', 'closed']
       and section.homepage == 0 %}
      {% if section.sections|length %}
        <li class="heading">{{ section.title }}</li>
        {% for child in section.sections if child.visibility not in ['hidden', 'closed'] %}
          {% if not ('private' == section.visibility) or is_granted('ROLE_USER') %}
            <li>
              <a href="{{ path('section', {'slug': child.slug}) }}">
                {{ child.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}

      {# An empty dir is not a content #}
      {% elseif section.type != 'dir' %}
        {% if not ('private' == section.visibility) or is_granted('ROLE_USER') %}
          <li>
            <a href="{{ path('section', {'slug': section.slug}) }}">
              {{ section.title }}
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    <li class="divider"></li>
    {% if 'menu' == site.adminLink %}
    <li>
      <a href="{{ path('admin_content_manager') }}">
        {{ 'admin.admin'|trans }}
      </a>
    </li>
    {% endif %}
    {% if 'disabled' != site.contactSection %}
    <li>
      <a href="{{ path('contact') }}">
        {{ 'contact.contact'|trans }}
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endspaceless %}