{% spaceless %}
<ul class="{{ class }}">
  {% if not site.maintenance or is_granted('ROLE_ADMIN') %}
    {% include "frontend/menu/_sideLinks.html.twig" with {
        'widgets': widgets,
        'menu_pos': 'main',
        'follow': follow
    } only %}
  {% endif %}
</ul>
<ul class="secondary {{ class }}">
  {% include "frontend/menu/_sideLinks.html.twig" with {
        'widgets': widgets,
        'menu_pos': 'second',
        'follow': follow
  } only %}
  {% include "frontend/menu/_adminLinks.html.twig" only %}
  {% if 'disabled' != site.contactSection %}
  <li>
    <a href="{{ path('contact') }}"{{ follow }}>
      {{ 'contact.contact'|trans }}
    </a>
  </li>
  {% endif %}
</ul>
{% endspaceless %}