{% spaceless %}
{% for section in sections
   if  section.isMenuEnabled(is_granted('ROLE_USER'))
   and section.menuPos == menuPos %}
  {% if section.activeSections(is_granted('ROLE_USER'))|length %}
    <li class="heading">
        <a href="#" title="{{ section.title|escape }}"
           data-display="#sub-menu-{{ section.id }}-{{ class }}">
            {{ section.title }}
        </a>
    </li>
    <li id="sub-menu-{{ section.id }}-{{ class }}" class="hidden">
        <ul class="side-sub-menu">
        {% for child in section.activeSections(is_granted('ROLE_USER')) %}
            {{ widgets.menu_link(child, follow) }}
        {% endfor %}
        </ul>
    </li>
  {# An empty dir is not a content #}
  {% elseif section.type != 'dir' %}
      {{ widgets.menu_link(section, follow) }}
  {% endif %}
{% endfor %}
{% endspaceless %}
