{% spaceless %}
<nav class="main-nav top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ path('homepage') }}">{{ site.name }}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span></span></a>
    </li>
  </ul>
  <section class="top-bar-section">
    {% if not site.maintenance or is_granted('ROLE_ADMIN') %}
    <ul class="left">
      {% include "frontend/menu/_topLinks.html.twig" with {
          'widgets': widgets,
          'menuPos': 'main',
        'follow': ''
      } only %}
    </ul>
    {% endif %}
    <ul class="right">
      <li class="divider show-for-small"></li>
      {% if not site.maintenance or is_granted('ROLE_ADMIN') %}
        {% include "frontend/menu/_topLinks.html.twig" with {
            'widgets': widgets,
            'menuPos': 'second',
            'follow': ''
        } only %}
      {% endif %}
      {% include "frontend/menu/_adminLinks.html.twig" only %}
      {% if 'disabled' != site.contactSection %}
      <li>
        <a href="{{ path('contact') }}">
          {{ 'contact.contact'|trans }}
        </a>
      </li>
      {% endif %}
      {% if profile|length %}
      <li>
        <a href="{{ path('logout') }}"
           title="{{ 'user.logout'|trans }}">
          <i class="fi-power hide-for-small-only"></i>
          <span class="show-for-small-only">{{ 'user.logout'|trans }}</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
</nav>
{% endspaceless %}
