{% spaceless %}
<nav class="main-nav top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
          <a href="{{ path('homepage') }}" title="{{ 'section.homepage'|trans }}">
              {{ settings.name }}
          </a>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#" title="{{ 'section.menu.menu'|trans }}">
          <span></span>
      </a>
    </li>
  </ul>
  <section class="top-bar-section">
    {% if not settings.maintenance or is_granted('ROLE_ADMIN') %}
    <ul class="left">
      {% include "frontend/menu/_topLinks.html.twig" with {
          'menuPos': 'main',
        'follow': ''
      } only %}
    </ul>
    {% endif %}
    <ul class="right">
      <li class="divider show-for-small"></li>
      {% if not settings.maintenance or is_granted('ROLE_ADMIN') %}
        {% include "frontend/menu/_topLinks.html.twig" with {
            'menuPos': 'second',
            'follow': ''
        } only %}
      {% endif %}
      {% include "frontend/menu/_adminLinks.html.twig" only %}
      {% if 'disabled' != settings.contactSection %}
      <li>
        <a href="{{ path('contact') }}" title="{{ 'contact.contact'|trans }}">
          {{ 'contact.contact'|trans }}
        </a>
      </li>
      {% endif %}
      {% if profile|length %}
      <li>
        <a href="{{ path('logout') }}"
           title="{{ 'user.logout'|trans }}">
          <i class="fi-power hide-for-small-only"></i>
          <span class="show-for-small-only">{{ 'user.logout'|trans }}</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
</nav>
{% endspaceless %}
