{% spaceless %}
<table>
  <thead>
    <tr>
      <th>{{ 'form.field.type'|trans }}</th>
      <th>{{ 'form.label'|trans }}</th>
      <th>{{ 'form.specs'|trans }}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for field in fields %}
    <tr>
      <td>{{ ('form.field.'~field.type)|trans }}</td>
      <td>{{ field.title }}<br>{{ field.description }}</td>
      <td>
        {% if field.parameters.required|length %}
          <span class="label">{{ 'form.required'|trans }}</span><br>
        {% endif %}
        {% if field.type in ['select', 'radio'] %}
          <em>{{ 'form.choices'|trans }}</em>:<br>
          {{field.parameters.options|nl2br }}
        {% elseif field.type == 'html.insert' %}
          {{field.content|raw }}
        {% endif %}
      </td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endspaceless %}