<dd>
  <a href="#panel{{ section.id }}">{{ section.title }}</a>
  <div class="content {{ type }}" id="panel{{ section.id }}">
    <p>{{ section.description|nl2br }}</p>
    {% block content %}{% endblock %}
  </div>
</dd>
