{% extends "backend/layout.html.twig" %}

{% block main -%}
<div class="row">
  <div class="large-12 columns">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
          <legend>{{ 'section.new'|trans }}</legend>
          {{ form_row(form.type) }}
          {{ form_row(form.title) }}
          {{ form_row(form.description) }}
          {{ form_row(form.dir) }}
          {{ form_row(form.active) }}
        </fieldset>
        <div class="hidden">
          {{ form_rest(form) }}
        </div>
        <input type="submit" name="submit"
               value="{{ 'submit'|trans }}" class="tiny button">
    {{ form_end(form) }}
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    {% for section in sections %}
      {% if 'dir' == section.type %}
        <h3>{{ section.title }}</h3>
        <dl class="accordion" data-accordion>
          {% for section in section.sections %}
            {% include "backend/_section"~section.type|capitalize~".html.twig" with {'section': section} only %}
          {% endfor %}
        </dl>
        <hr>
      {% else %}
        <dl class="accordion" data-accordion>
          {% include "backend/_section"~section.type|capitalize~".html.twig" with {'section': section} only %}
        </dl>
        <hr>
      {% endif %}
    {% endfor %}
  </div>
</div>
<form id="fileupload"
      class="hidden"
      action="{{ path('admin_upload_manager_upload') }}"
      method="POST"
      enctype="multipart/form-data">
    <input type="file" name="files[]" multiple>
    <input type="hidden" name="sectionId" value="0">
    <button type="submit"></button>
</form>
{%- endblock main %}

{% block javascripts %}
<script src="{{ app.request.basepath }}/js/vendor/jquery.ui.widget.js"></script>
<script src="{{ app.request.basepath }}/js/vendor/jquery.iframe-transport.js"></script>
<script src="{{ app.request.basepath }}/js/vendor/jquery.fileupload.js"></script>
<script>
$(function () {
    $('.content.gallery').each(function(){
        $(this).on('click', '[data-item-upload]', function(){
            var sectionId = $(this).data('item-upload');
            console.log(sectionId)
            $('#fileupload [name="sectionId"]').val(sectionId);
        });
    });
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            console.log(data._response.result);
        }
    });
});
</script>
{% endblock javascripts %}