<script src="{{ app.request.basepath }}/js/vendor/jquery.markitup.js?v={{ semver }}"></script>
<script>
{#
changed line 205:
title = (button.key) ? ' [Ctrl+'+button.key+']' : '';
To avoid <i></i> code into anchor title attr.
#}
{% set sep = "separator:'&nbsp;&nbsp;.&nbsp;&nbsp;'" %}
{% for mode in ['Full', 'Compact'] %}
var markitupSettings{{ mode }} = {
  onShiftEnter:  	{keepDefault:false, replaceWith:'<br />\n'},
  onCtrlEnter:  	{keepDefault:false, openWith:'\n<p>', closeWith:'</p>'},
  onTab:    		{keepDefault:false, replaceWith:'    '},
  markupSet:  [
    {# Title tags #}
    {% if 'Full' == mode %}
      {% for i in 1..3 %}
      {name:'<span>H{{ i }}</span>', key:'1', openWith:'<h{{ i }}(!( class="[![Class]!]")!)>', closeWith:'</h{{ i }}>', placeHolder:'{{ 'section.title'|trans }}' },
      {% endfor %}
    {% endif %}
    {# Paragraph tag #}
    {name:'<span>P</span>', openWith:'<p(!( class="[![Class]!]")!)>', closeWith:'</p>'  },
    {# Text style tags #}
    {% if 'Full' == mode %}
      { {{ sep|raw }} },
    {% endif %}
    {name:'<i class="fi-bold"></i>', key:'B', openWith:'(!(<strong>|!|<b>)!)', closeWith:'(!(</strong>|!|</b>)!)' },
    {name:'&nbsp;<i class="fi-italic"></i>&nbsp;', key:'I', openWith:'(!(<em>|!|<i>)!)', closeWith:'(!(</em>|!|</i>)!)' },
    {% if 'Full' == mode %}
      {name:'<i class="fi-strikethrough"></i>', key:'S', openWith:'<del>', closeWith:'</del>' },
      { {{ sep|raw }} },
      {# Lists tags #}
      {name:'<i class="fi-list-bullet"></i>', openWith:'    <li>', closeWith:'</li>', multiline:true, openBlockWith:'<ul>\n', closeBlockWith:'\n</ul>'},
      {name:'<i class="fi-list-number"></i>', openWith:'    <li>', closeWith:'</li>', multiline:true, openBlockWith:'<ol>\n', closeBlockWith:'\n</ol>'},
      {name:'<i class="fi-plus small"></i>', openWith:'<li>', closeWith:'</li>' },
      { {{ sep|raw }} },
    {% endif %}
    {# Anchor tag #}
    {name:'<i class="fi-link"></i>', key:'L', openWith:'<a href="[![Link:!:http://]!]"(!( title="[![Title]!]")!)>', closeWith:'</a>', placeHolder:'{{ 'section.title'|trans }}' },
    {# Reset style #}
    {% if 'Full' == mode %}
      { {{ sep|raw }} },
      {name:'<i class="fi-x-circle"></i>', className:'clean', replaceWith:function(markitup) { return markitup.selection.replace(/<(.*?)>/g, ""); } },
    {% endif %}
  ]
};
{% endfor %}
</script>
