{% extends "layout.html.twig" %}

{% import "widgets.html.twig" as widgets %}

{% block content -%}
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ path('homepage') }}">{{ site.name }}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span></span></a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li>
        <a href="{{ path('admin_content_manager') }}">
          {{ 'section.content'|trans }}
        </a>
      </li>
      {% if is_granted('ROLE_ADMIN') %}
        <li id="file-manager-link"
            {% if not site.shareFiles %}class="hidden"{% endif %}>
          <a href="{{ path('admin_files_manager') }}">
            {{ 'file.manager'|trans }}
          </a>
        </li>
        <li>
          <a href="{{ path('admin_messaging_manager') }}">
            {{ 'contact.messaging'|trans }}
            <span id="messages-counter"
                  class="label round secondary hidden"
                  data-url="{{ path('admin_messaging_manager_new_messages_counter') }}">0</span>
          </a>
        </li>
        <li>
          <a href="{{ path('admin_site_settings') }}">
            {{ 'site.settings'|trans }}
            <i id="maintenance-indicator"
               class="fi-flag{% if not site.maintenance %} hidden{% endif %}"></i>
          </a>
        </li>
      {% endif %}
      {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li>
          <a href="{{ path('admin_users_manager') }}">
            {{ 'user.access'|trans }}
          </a>
        </li>
      {% endif %}
    </ul>
    <ul class="right">
      <li class="divider show-for-small"></li>
      <li>
        <a href="{{ path('user_profile') }}">
          <i class="fi-torso{% if 'f' == profile.gender %}-female{% endif %}"></i>
          {{ profile.firstname }}
        </a>
      </li>
      <li>
        <a href="{{ path('logout') }}"
           title="{{ 'user.logout'|trans }}">
          <i class="fi-power"></i>
        </a>
      </li>
    </ul>
  </section>
</nav>
<div id="content">
  {% block main %}{% endblock %}
  <div id="universal-modal" class="reveal-modal" data-reveal>
    <div id="universal-modal-content"></div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
{%- endblock content%}

{% block head %}
<link rel="stylesheet" href="{{ app.request.basepath }}/css/admin.css?v={{ semver }}">
<link rel="stylesheet" href="{{ app.request.basepath }}/css/foundation-datepicker.css?v={{ semver }}">
{% endblock head %}

{% block javascripts %}
<script src="{{ app.request.basepath }}/js/vendor/foundation-datepicker.js?v={{ semver }}"></script>
<script src="{{ app.request.basepath }}/js/admin/ui.js?v={{ semver }}"></script>
<script src="{{ app.request.basepath }}/js/admin/items.js?v={{ semver }}"></script>
<script src="{{ app.request.basepath }}/js/admin/settings.js?v={{ semver }}"></script>
{% include "backend/htmlEditor.js.twig" only %}
{% endblock javascripts %}
