{% extends "layout.html.twig" %}

{% block content -%}
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="{{ path('homepage') }}">{{ site.name }}</a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#"><span></span></a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li>
        <a href="{{ path('admin_content_manager') }}">
          {{ 'content.content'|trans }}
        </a>
      </li>
      <li>
        <a href="{{ path('admin_messaging_manager') }}">
          {{ 'messaging.messaging'|trans }}
        </a>
      </li>
      <li>
        <a href="{{ path('admin_site_settings') }}">
          {{ 'site.settings'|trans }}
        </a>
      </li>
      <li>
        <a href="{{ path('admin_users_manager') }}">
          {{ 'user.access'|trans }}
        </a>
      </li>
    </ul>
    <ul class="right">
      <li class="divider show-for-small"></li>
      <li>
        <a href="{{ path('admin_logout') }}">
          {{ 'user.logout'|trans }}
        </a>
      </li>
    </ul>
  </section>
</nav>
<div id="content">
  {% block main %}{% endblock %}
</div>
{%- endblock content%}

{% block head %}
<link rel="stylesheet" href="{{ app.request.basepath }}/css/admin.css?v={{ semver }}">
{% endblock head %}

{% block javascripts %}
<script src="{{ app.request.basepath }}/js/admin.js?v={{ semver }}"></script>
{% endblock javascripts %}
