{% extends "frontend/layout.html.twig" %}

{% block body_class parent()~widgets.section_body_classes(section) %}

{% block main -%}
{% if section.hasItems %}
<div class="row">
  <div class="medium-6 medium-centered columns">
    {{ form_start(form) }}
    {% for item in section.items %}
      {% if 'html.insert' == item.category %}
        {{ item.content|raw }}
      {% else %}
        <div class="row">
          <div class="large-12 columns">
            {{ form_row(form[ item.slug ]) }}
            <em>{{ item.description }}</em>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <div class="row">
      <div class="large-12 columns text-right">
        <button type="submit" class="button">
          {{ 'submit'|trans }}
        </button>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% else %}
<p class="coming-soon">
  {{ 'section.coming.soon'|trans }}
</p>
{% endif %}
{%- endblock main %}
