{% import "widgets.html.twig" as widgets %}
{% spaceless %}
{% if section.hasPosts %}
<ul id="posts-{{ section.id }}"
    class="posts-list small-block-grid-1"
    data-sortable="{{ path('admin_content_manager_sort_items') }}">
  {% for post in section.posts %}
  <li class="post"
      data-id="{{ post.id }}">
    <div class="panel radius">
      <div class="row">
        <div class="medium-8 columns">
          <h5>
            {{ post.title }}
            {% if post.published %}
              <span class="published label right">
                {{ 'blog.post.published'|trans }}
              </span>
            {% else %}
              <span class="published secondary label right">
                {{ 'blog.post.unpublished'|trans }}
              </span>
            {% endif %}
          </h5>
        </div>
        <div class="medium-4 columns">
            {% if post.posting_date|length %}
                {{ post.posting_date|date('d/m/Y') }}
            {% endif %}

            {{ widgets.btn_dropdown_actions('post-actions-'~post.id, '', 'right') }}
            <ul id="post-actions-{{ post.id }}"
                data-dropdown-content=""
                class="f-dropdown">
                <li>
                    <a href="#panel{{ section.id }}-list"
                       data-inject-call="{{ path('admin_blog_manager_edit_post', {
                       'sectionId': section.id,
                       'id': post.id
                       }) }}"
                       data-target="#panel{{ section.id }}-list">
                        <i class="fi-pencil"></i>
                        {{ 'edit'|trans }}
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="notice-empty">{{ 'blog.no.post'|trans }}</p>
{% endif %}
{% endspaceless %}