{% spaceless %}
<dd data-id="{{ section.id }}"
    class="section {{ section.visibility }}-section">
  {% include 'backend/contentManager/_sectionTitle.html.twig' with {'section': section} only %}
  <div id="panel{{ section.id }}"
       class="content panel-section video">
    <dl class="tabs" data-tab>
      <dd>
        <a href="#panel{{ section.id }}-list"
           title="{{ 'section.blog'|trans }}"
           data-inject-call="{{ path('admin_blog_manager_list', {'id': section.id}) }}"
           data-target="#panel{{ section.id }}-list">
          <i class="fi-list-thumbnails"></i>
          <span class="hide-for-small-only">{{ 'blog.posts'|trans }}</span>
        </a>
      </dd>
      <dd>
        <a href="#panel{{ section.id }}-add"
           title="{{ 'add'|trans }}"
           data-inject-call="{{ path('admin_blog_manager_new_post', {'id': section.id}) }}"
           data-target="#panel{{ section.id }}-add">
          <i class="fi-plus"></i>
          <span class="hide-for-small-only">{{ 'add'|trans }}</span>
        </a>
      </dd>
      <dd>
        <a href="#panel{{ section.id }}-settings"
           title="{{ 'settings'|trans }}"
           data-inject-call="{{ path('admin_content_manager_settings', {'id': section.id}) }}"
           data-target="#panel{{ section.id }}-settings">
          <i class="fi-wrench"></i>
          <span class="hide-for-small-only">{{ 'settings'|trans }}</span>
        </a>
      </dd>
    </dl>
    <div class="tabs-content">
      <div class="content" id="panel{{ section.id }}-list">
      </div>
      <div class="content" id="panel{{ section.id }}-add">
      </div>
      <div class="content" id="panel{{ section.id }}-settings">
      </div>
    </div>
  </div>
</dd>
{% endspaceless %}