{% import "widgets.html.twig" as widgets %}
{% spaceless %}
  <table>
    <thead>
      <tr>
        <th>{{ 'date'|trans }}</th>
        {% for field in section.items('Field') %}
          <th>{{ field.title }}</th>
        {% endfor %}
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    {% for result in section.results %}
      <tr id="result-line-{{ result.id }}">
        <td>
          {{ result.date|date('d/m/Y H:i') }}
        </td>
        {% for field in section.items('Field') %}

          {# Text and array results #}
          {% if result.result[field.slug] is defined %}
            {% set data = result.result[field.slug] %}
            <td>
              {% if data is iterable %}
                {{ data|join(' ; ') }}
              {% else %}
                  {{ data }}
              {% endif %}
            </td>

          {# File sent #}
          {% elseif result.result[field.slug~'__file'] is defined %}
              <td>
                  <a href="{{ path('admin_form_manager_download_file', {
                        'file': result.result[field.slug~'__path']
                      }) }}"
                     target="_blank">
                      {{ result.result[field.slug~'__file'] }}
                  </a>
              </td>

          {# Empty result #}
          {% else %}
            <td class="muted"></td>
          {% endif %}
        {% endfor %}
        <td>
            {# Result actions #}
            {{ widgets.btn_dropdown_actions('result-actions-'~result.id, 'ajax') }}
            <ul id="result-actions-{{ result.id }}" class="f-dropdown">
                <li>
                    <a href="#"
                       data-delete-ajax="{{ path('admin_form_manager_remove_result', {
                        'id': section.id,
                        'resultId': result.id
                       }) }}"
                       data-target="#result-line-{{ result.id }}"
                       data-confirm="{{ 'confirm'|trans }}">
                        {{ 'delete'|trans }}
                    </a>
                </li>
            </ul>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="{{ section.items('Field')|length + 2 }}" class="notice-empty">
          {{ 'form.no.results'|trans }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endspaceless %}