{% spaceless %}
<div class="row">
  <div class="medium-6 medium-push-6 columns"
       id="form-fields-{{ section.id }}">
    {% include "backend/formManager/_formFields.html.twig" with {'fields': section.items} only %}
  </div>
  <div class="medium-6 medium-pull-6 columns">
    {{ form_start(form, {'action': path('admin_form_manager_edit', {'id': section.id})}) }}
      {{ form_row(form.category) }}
      {{ form_row(form.title) }}
      {{ form_row(form.description) }}
      {{ form_row(form.options) }}
      {{ form_row(form.required) }}
      <div class="text-right">
        <button type="submit"
                class="tiny button"
                data-submit-ajax
                data-target="#panel{{ section.id }}-edit">
          {{ 'form.field.add'|trans }}
        </button>
      </div>
    {{ form_end(form) }}
  </div>
</div>
{% endspaceless %}