{% spaceless %}
<div class="row">
  <div class="medium-12 columns">
    {{ form_start(edit_form, {
      'action': path('admin_form_manager_settings', {'id': section.id})
    }) }}
    <div class="row">
      <div class="medium-6 columns">
      {{ form_row(edit_form.title) }}
      {{ form_row(edit_form.description) }}
      {{ form_row(edit_form.validation_message) }}
      {{ form_row(edit_form.expose_section_id) }}
      </div>
      <div class="medium-6 columns">
      {{ form_row(edit_form.visibility) }}
      {{ form_row(edit_form.custom_css) }}
      {{ form_row(edit_form.custom_js) }}
      <input type="submit" name="submit"
             value="{{ 'submit'|trans }}" class="tiny right button">
      </div>
    </div>
    {{ form_end(edit_form) }}
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    {% include 'backend/contentManager/_interactionsLinks.html.twig' with {
    'section': section,
    'delete_form': delete_form,
    'action_path': path('admin_form_manager_delete', {'id': section.id}),
    'info': 'form.delete.form'
    } only %}
  </div>
</div>
{% endspaceless %}