{% import "widgets.html.twig" as widgets %}
{% spaceless %}
<div data-sortable="{{ path('admin_content_manager_sort_items') }}">
  {% for field in section.items('Field') %}
    <div id="field-line-{{ field.id }}"
         class="field panel"
         data-id="{{ field.id }}">

      {# Title and category #}
      <div class="header">
        <h5 class="left">
          <span class="handle">::</span>
          {{ field.title }}
        </h5>
        <span class="secondary label right">
          {{ ('form.field.'~field.category)|trans }}
        </span>
        {% if field.required|length %}
          <span class="label right">{{ 'form.required'|trans }}</span>
        {% endif %}
      </div>

      {# Help description #}
      <p>{{ field.description }}</p>

      {# Field specifications #}
      {% if field.category in ['select', 'multiple.select', 'radio'] %}
        <ul>
        {% for choice in field.choices|nl2br|split('<br />') %}
          <li>{{ choice }}</li>
        {% endfor %}
        </ul>
      {% elseif field.category == 'html.insert' %}
        {{field.content|raw }}
      {% endif %}

      {# Field actions #}
      {{ widgets.btn_dropdown_actions('field-actions-'~field.id, 'ajax') }}
      <ul id="field-actions-{{ field.id }}" class="f-dropdown">
        <li>
          <a href="{{ path('admin_form_manager_remove_field', {
                  'id': section.id,
                  'itemId': field.id
              }) }}"
              data-target="#field-line-{{ field.id }}"
              data-confirm-action="{{ 'confirm'|trans }}">
            {{ 'delete'|trans }}
          </a>
        </li>
      </ul>
    </div>
  {% endfor %}
</div>
{% endspaceless %}