{% import "widgets.html.twig" as widgets %}
{% spaceless %}
<div class="row">
  <div class="medium-6 medium-push-6 columns"
       id="form-fields-{{ section.id }}">
    {% include "backend/formManager/_formFields.html.twig" with {'section': section} only %}
  </div>
  <div class="medium-6 medium-pull-6 columns">
    {{ form_start(form, {'action': path('admin_form_manager_edit', {'id': section.id})}) }}
      {{ form_row(form.category) }}
      {{ form_row(form.title) }}
      {{ form_row(form.description) }}
      {{ form_row(form.choices) }}
      {{ form_row(form.required) }}
      <div class="text-right">
        {{ widgets.btn_ajax('#panel'~section.id~'-edit', 'form.field.add') }}
      </div>
    {{ form_end(form) }}
  </div>
</div>
{% endspaceless %}
