{% spaceless %}
  <table>
    <thead>
      <tr>
        <th>{{ 'date'|trans }}</th>
        {% for field in section.items %}
          <th>{{ field.title }}</th>
        {% endfor %}
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    {% for result in section.results %}
      <tr id="result-{{ result.id }}">
        <td>
          {{ result.date|date('d/m/Y H:i') }}
        </td>
        {% for field in section.items %}
          {% if result.result[field.slug] is defined %}
          {% set data = result.result[field.slug] %}
          <td>
          {% if data is iterable %}
            {{ data|join(' ; ') }}
          {% else %}
              {{ data }}
          {% endif %}
          </td>
          {% else %}
          <td class="muted"></td>
          {% endif %}
        {% endfor %}
        <td>
          <button
              type="button"
              class="tiny secondary button"
              data-display="#delete-result-{{ result.id }}">
            {{ 'delete'|trans }}
          </button>
          <button
              type="button"
              id="delete-result-{{ result.id }}"
              class="tiny alert button hidden"
              data-delete-ajax="{{ path('admin_form_manager_remove_result', {'id': section.id, 'resultId': result.id}) }}"
              data-target="#result-{{ result.id }}">
            {{ 'confirm'|trans }}
          </button>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="{{ section.items|length + 2 }}" class="notice-empty">
          {{ 'form.no.results'|trans }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endspaceless %}