{% spaceless %}
<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>{{ 'form.field.type'|trans }}</th>
      <th>{{ 'form.label'|trans }}</th>
      <th>{{ 'form.specs'|trans }}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody data-sortable="{{ path('admin_content_manager_sort_items') }}">
    {% for field in fields %}
    <tr id="field-line-{{ field.id }}"
        data-id="{{ field.id }}">
      <td><span class="handle">::</span></td>
      <td>{{ ('form.field.'~field.type)|trans }}</td>
      <td>{{ field.title }}<br>{{ field.description }}</td>
      <td>
        {% if field.parameters.required|length %}
          <span class="label">{{ 'form.required'|trans }}</span><br>
        {% endif %}
        {% if field.type in ['select', 'radio'] %}
          <em>{{ 'form.choices'|trans }}</em>:<br>
          {{field.parameters.options|nl2br }}
        {% elseif field.type == 'html.insert' %}
          {{field.content|raw }}
        {% endif %}
      </td>
      <td>
        <button
            type="button"
            class="tiny secondary button"
            data-delete-ajax="{{ path('admin_form_manager_remove_field', {'id': field.id}) }}"
            data-target="#field-line-{{ field.id }}">{{ 'delete'|trans }}</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endspaceless %}