{% spaceless %}
<dd data-id="{{ section.id }}"
    class="section{% if not section.active %} hidden-section{% endif %}">
  <a href="#panel{{ section.id }}"
     data-click="#panel{{ section.id }} .tabs dd:first-child a">
    <span class="handle-section">&nbsp;</span>
    {{ section.title }}
  </a>
  <div class="content form" id="panel{{ section.id }}">
    <p>{{ section.description|nl2br }}</p>
    <dl class="tabs" data-tab>
      <dd>
        <a href="#panel{{ section.id }}-result"
           data-inject-call="{{ path('admin_form_manager_results', {'id': section.id}) }}"
           data-target="#panel{{ section.id }}-result">
          {{ 'form.results'|trans }}
        </a>
      </dd>
      <dd>
        <a href="#panel{{ section.id }}-edit"
           data-inject-call="{{ path('admin_form_manager_edit', {'id': section.id}) }}"
           data-target="#panel{{ section.id }}-edit">
          {{ 'form.edit'|trans }}
        </a>
      </dd>
      <dd>
        <a href="#panel{{ section.id }}-settings"
           data-inject-call="{{ path('admin_form_manager_settings', {'id': section.id}) }}"
           data-target="#panel{{ section.id }}-settings">
          {{ 'settings'|trans }}
        </a>
      </dd>
    </dl>
    <div class="tabs-content">
      <div class="content active" id="panel{{ section.id }}-result">
      </div>
      <div class="content" id="panel{{ section.id }}-edit">
      </div>
      <div class="content" id="panel{{ section.id }}-settings">
      </div>
    </div>
  </div>
</dd>
{% endspaceless %}