{% import "widgets.html.twig" as widgets %}
{% spaceless %}
{{ form_start(form, {'action': path('admin_html_manager_edit', {'id': section.id})}) }}
<div class="row">
  <div class="large-10 large-centered columns">
    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content, {'attr': {'rows': '22'} }) }}
    <div class="text-right">
      {{ widgets.btn_ajax() }}
    </div>
  </div>
</div>
<div class="hidden">
{{ form_rest(form) }}
</div>
{{ form_end(form) }}
{% endspaceless %}