{% spaceless %}
{% if section.pages|length > 1 %}
<ul class="pagination">
  {% for page in section.items %}
  <li{% if loop.first %} class="current"{% endif %}>
      <a href="#{{ page.slug }}"
         title="{{ page.title }}">
        {{ loop.index }}
      </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% if section.hasPages %}
  <iframe class="page-preview"
          src="{{ path('admin_html_manager_display_preview', {'id': section.id}) }}"
          seamless></iframe>
{% else %}
  <p class="notice-empty">{{ 'html.no.page'|trans }}</p>
{% endif %}
{% endspaceless %}