{% spaceless %}
<div class="row">
  <div class="large-12 columns">
    {{ form_start(form, {'action': path('admin_html_manager_edit', {'id': section_id})}) }}
      {{ form_errors(form) }}
      <div class="row">
        <div class="medium-8 medium-centered columns">
          {{ form_row(form.title) }}
        </div>
        <div class="medium-8 medium-centered columns">
          {{ form_row(form.content) }}
        </div>
        <div class="medium-8 medium-centered columns text-right">
          <input type="submit" name="submit"
                 value="{{ 'submit'|trans }}"
                 data-submit-ajax
                 data-target="#panel{{ section_id }}-edit"
                 class="tiny button">
        </div>
      </div>
      <div class="hidden">
        {{ form_rest(form) }}
      </div>
    {{ form_end(form) }}
  </div>
</div>
{% endspaceless %}