{% spaceless %}
{% if pages|length > 1 %}
<ul class="pagination">
  {% for page in pages %}
  <li{% if loop.first %} class="current"{% endif %}>
      <a href="#{{ page.slug }}"
         title="{{ page.title }}">
        {{ loop.index }}
      </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% if pages|length %}
  {% set first_page = pages|first %}
  <iframe class="page-preview"
          src="{{ path('section', {'slug': first_page.slug}) }}"
          seamless></iframe>
{% else %}
  <p class="notice-empty">{{ 'page.no.page'|trans }}</p>
{% endif %}
{% endspaceless %}