{% spaceless %}
{{ form_start(delete_form, {
  'action': action_path
}) }}
  <ul id="delete-safety-pin{{ id }}"
      class="button-group">
    <li>
      <button type="button"
              data-display="#delete-form{{ id }},#delete-safety-pin{{ id }}"
              class="tiny alert button">
        {{ 'delete'|trans }}
      </button>
    </li>
    <li>
      <p class="safety-pin-info">{{ info|trans }}</p>
    </li>
  </ul>
  <ul id="delete-form{{ id }}"
      class="button-group hidden">
    <li>
      <button type="button"
              data-display="#delete-form{{ id }},#delete-safety-pin{{ id }}"
              class="tiny secondary button">
        {{ 'cancel'|trans }}
      </button>
    </li>
    <li>
      <input type="submit"
             value="{{ 'delete'|trans }}"
             class="tiny alert button">
    </li>
  </ul>
{{ form_end(delete_form) }}
{% endspaceless %}