{% spaceless %}
{% if not section.homepage %}
{#
<button class="button tiny secondary"
        data-toggle-section="{{ path('admin_content_manager_toggle_section', {'id': section.id}) }}">
  <span class="toggle-section-hide">
    {{ 'section.hide'|trans }}
  </span>
  <span class="toggle-section-show">
    {{ 'section.display'|trans }}
  </span>
</button>
#}
<a class="button tiny secondary"
   href="{{ path('admin_content_manager_define_homepage', {'id': section.id}) }}">
  {{ 'section.define.as.homepage'|trans }}
</a>
{{ form_start(delete_form, {
  'action': action_path
}) }}
  <ul id="delete-safety-pin{{ section.id }}"
      class="button-group">
    <li>
      <button type="button"
              data-display="#delete-form{{ section.id }},#delete-safety-pin{{ section.id }}"
              class="tiny alert button">
        {{ 'delete'|trans }}
      </button>
    </li>
    <li>
      <p class="safety-pin-info">{{ info|trans }}</p>
    </li>
  </ul>
  <ul id="delete-form{{ section.id }}"
      class="button-group hidden">
    <li>
      <button type="button"
              data-display="#delete-form{{ section.id }},#delete-safety-pin{{ section.id }}"
              class="tiny secondary button">
        {{ 'cancel'|trans }}
      </button>
    </li>
    <li>
      <input type="submit"
             value="{{ 'delete'|trans }}"
             class="tiny alert button">
    </li>
  </ul>
{{ form_end(delete_form) }}
{% endif %}
{% endspaceless %}