{% spaceless %}
{% if not section.homepage %}
<ul class="button-group">
  <li>
    <a class="button tiny secondary"
       title="{{ 'archive'|trans }}"
       href="{{ path('admin_content_manager_archive', {'id': section.id}) }}">
        <i class="fi-archive"></i>&nbsp;
        <span class="hide-for-small-only">{{ 'archive'|trans }}</span>
    </a>
  </li>
  <li>
    {{ form_start(delete_form, {
      'action': action_path
    }) }}
    <button type="submit"
            title="{{ 'delete'|trans }}"
            data-confirm-action="{{ info|trans|escape('html_attr') }}"
            class="tiny alert button">
      <i class="fi-x"></i>&nbsp;
      <span class="hide-for-small-only">{{ 'delete'|trans }}</span>
    </button>
    {{ form_end(delete_form) }}
  </li>
</ul>
{% endif %}
{% endspaceless %}