{% import "widgets.html.twig" as widgets %}
{% spaceless %}
<div class="row">
  <div class="medium-12 columns">
    {{ form_start(edit_form, {
      'attr': {'id': 'section-settings'},
      'action': path('admin_content_manager_settings', {'id': section.id})
    }) }}
    <div class="row">
      <div class="medium-6 columns">
        {{ form_row(edit_form.title) }}
        {{ form_row(edit_form.description) }}
        {{ form_row(edit_form.expose_section_id) }}
        <ul class="button-group">
          <li>
            <button type="button"
                    title="{{ 'advanced.settings'|trans }}"
                    class="tiny secondary button"
                    data-display=".advanced-settings">
              <i class="fi-widget"></i>&nbsp;
              <span class="hide-for-small-only">{{ 'advanced.settings'|trans }}</span>
            </button>
          </li>
          {% if not section.homepage %}
          <li>
            <a class="button tiny secondary"
               title="{{ 'archive'|trans }}"
               href="{{ path('admin_content_manager_archive', {'id': section.id}) }}">
                <i class="fi-archive"></i>&nbsp;
                <span class="hide-for-small-only">{{ 'archive'|trans }}</span>
            </a>
          </li>
          <li>
            <button type="button"
                    title="{{ 'delete'|trans }}"
                    data-click-link="#submit-delete-{{ section.id }}"
                    class="tiny alert button">
              <i class="fi-x"></i>&nbsp;
              <span class="hide-for-small-only">{{ 'delete'|trans }}</span>
            </button>
          </li>
          {% endif %}
        </ul>
        <div class="hidden advanced-settings">
          {{ form_row(edit_form.visibility) }}
          {{ form_row(edit_form.menuPos) }}
          {{ form_row(edit_form.tag) }}
          {{ form_row(edit_form.customCss, {'attr': {'rows': '12'} }) }}
          {{ form_row(edit_form.customJs, {'attr': {'rows': '12'} }) }}
        </div>
      </div>
      <div class="medium-6 columns">
        {% include 'backend/'~section.type~'Manager/_'~section.type~'Settings.html.twig' with {
            'section': section,
            'edit_form': edit_form,
            'widgets': widgets
        } only %}
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns text-right">
        {{ widgets.btn_ajax() }}
        <div class="hide">{{ form_rest(edit_form) }}</div>
      </div>
    </div>
    {{ form_end(edit_form) }}
    <div class="hide">
        {{ form_start(delete_form, {
          'action': path('admin_content_manager_delete', {'id': section.id})
        }) }}
        <button type="submit"
                data-confirm-action="{{ (section.type~'.delete')|trans|escape('html_attr') }}"
                id="submit-delete-{{ section.id }}">
          {{ 'delete'|trans }}
        </button>
        {{ form_end(delete_form) }}
    </div>
  </div>
</div>
{% endspaceless %}