{% spaceless %}
{% set typeIcons = {
    'gallery': 'photo',
    'channel': 'play-video',
    'html': 'page-filled',
    'form': 'checkbox',
    'maps': 'map'
} %}
{% set visibilityIcons = {
    'homepage': 'home',
    'public': 'link',
    'private': 'lock',
    'hidden': 'unlink',
    'closed': 'prohibited'
} %}
<a href="#panel{{ section.id }}"
   data-click="#panel{{ section.id }} .tabs dd:first-child a">
  <span class="handle-section">&nbsp;</span>
  <i class="fi-{{ typeIcons[section.type] }} type-icon"></i>
  <span class="section-title">{{ section.title }}</span>
  <small class="counter">{{ section.total_items }}</small>
  <i class="state-icon fi-{{ visibilityIcons[section.visibility] }}"></i>
</a>
{% endspaceless %}