{% import "widgets.html.twig" as widgets %}
{% spaceless %}
<a href="#panel{{ section.id }}"
   data-click="#panel{{ section.id }} .tabs dd:first-child a">
  <span class="handle-section">&nbsp;</span>
  {{ widgets.type_icon(section.type, 'type-icon') }}
  <span class="section-title">{{ section.title }}</span>
  {% if 'link' != section.type %}
    <small class="counter">{{ section.total_items }}</small>
  {% endif %}
  {{ widgets.visibility_icon(section.visibility, 'state-icon') }}
</a>
{% endspaceless %}