{% extends "backend/layout.html.twig" %}

{% block main -%}
<div class="row">
  <div class="large-12 columns">
    <h3>{{ 'archives'|trans }}</h3>
  </div>
</div>
<div class="row">
  <div id="content-sections"
       data-sort-url="{{ path('admin_content_manager_sort_sections') }}"
       class="large-12 columns">
    {% for section in sections if section.archive == 1 %}
      {% include "backend/contentManager/_sectionRow.html.twig" with {'section': section} only %}
    {% else %}
      <p class="notice-empty">{{ 'section.no.section'|trans }}</p>
    {% endfor %}
    <a href="{{ path('admin_content_manager') }}"
       style="color: #aaa">
        <i class="fi-arrow-left"></i>&nbsp;
        {{ 'back'|trans }}
    </a>
  </div>
</div>
{%- endblock main %}

{% block javascripts %}
{{ parent() }}
<script src="{{ app.request.basepath }}/assets/vendor/jquery-ui/ui/minified/widget.min.js"></script>
<script src="{{ app.request.basepath }}/assets/vendor/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="{{ app.request.basepath }}/assets/vendor/blueimp-file-upload/js/jquery.fileupload.js"></script>
{% endblock javascripts %}
