{% extends "backend/layout.html.twig" %}

{%- block main -%}
<div class="row">
  <div class="large-12 columns">
    <dl class="accordion" data-accordion><dd>
    <a href="#new-section">{{ 'section.new'|trans }}</a>
    <div id="new-section" class="content">
    {{ form_start(form, {'action': path('admin_content_manager')}) }}
      {{ form_errors(form) }}
      <div class="row">
        <div class="medium-6 columns">
          {{ form_widget(form.title) }}
        </div>
        <div class="medium-3 columns">
          {{ form_widget(form.type) }}
        </div>
        <div class="medium-3 columns section-fields">
          {{ form_widget(form.exposeSectionId) }}
        </div>
      </div>
      <div class="hidden">
        {{ form_rest(form) }}
      </div>
      <div class="text-right">
        <input type="submit" name="submit"
               value="{{ 'submit'|trans }}" class="tiny button">
      </div>
    {{ form_end(form) }}
    </div>
  </dd></dl>
  </div>
</div>
<hr>
<div class="row">
  <div id="content-sections"
       data-sort-url="{{ path('admin_content_manager_sort_sections') }}"
       class="large-12 columns">
    {% for section in sections if section.archive == 0 %}
      {% include "backend/contentManager/_sectionRow.html.twig" with {
          'section': section
      } only %}
    {% endfor %}
    <a href="{{ path('admin_content_manager_archives') }}"
       style="color: #aaa">
      <i class="fi-archive"></i>&nbsp;
      {{ 'archives'|trans }}
    </a>
  </div>
</div>
{%- endblock main -%}

{% block javascripts %}
{{ parent() }}
<script src="{{ app.request.basepath }}/assets/vendor/jquery-ui/ui/minified/widget.min.js"></script>
<script src="{{ app.request.basepath }}/assets/vendor/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<script src="{{ app.request.basepath }}/assets/vendor/blueimp-file-upload/js/jquery.fileupload.js"></script>
{% endblock javascripts %}

{%- block head -%}
    {{ parent() }}
    <style>
        #content {
            margin-bottom: 500px;
        }
    </style>
{%- endblock head -%}
