{% extends "backend/layout.html.twig" %}

{% block main -%}
<div class="row">
  <div class="large-12 columns">
    <dl class="accordion" data-accordion><dd>
    <a href="#new-section">{{ 'section.new'|trans }}</a>
    <div id="new-section" class="content">
    {{ form_start(form, {'action': path('admin_content_manager')}) }}
      {{ form_errors(form) }}
      <div class="row">
        <div class="medium-8 columns">
          {{ form_widget(form.title) }}
        </div>
        <div class="medium-4 columns">
          {{ form_widget(form.type) }}
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns section-fields">
          {{ form_widget(form.expose_section_id) }}
        </div>
        <div class="medium-4 columns section-fields">
          {{ form_widget(form.visibility) }}
        </div>
        <div class="medium-4 columns">
          {{ form_widget(form.menu_pos) }}
        </div>
      </div>
      <div class="hidden">
        {{ form_rest(form) }}
      </div>
      <div class="text-right">
        <input type="submit" name="submit"
               value="{{ 'submit'|trans }}" class="tiny button">
      </div>
    {{ form_end(form) }}
    </div>
  </dd></dl>
  </div>
</div>
<hr>
<div class="row">
  <div id="content-sections"
       data-sort-url="{{ path('admin_content_manager_sort_sections') }}"
       class="large-12 columns">
    {% for section in sections %}
      {% if 'dir' == section.type %}
      <div class="content-section dir-sections" data-id="{{ section.id }}">
        <span class="handle-section handle-dir">&nbsp;</span>
        <h3>
          {{ section.title }}
          <button class="tiny secondary button right"
                  type="button"
                  data-inject-call="{{ path('admin_content_manager_edit_dir', {'id': section.id}) }}"
                  data-target="#title-form-{{ section.id }}"
                  data-dropdown="title-form-{{ section.id }}"
                  title="{{ 'edit'|trans }}">
            <i class="fi-pencil"></i>
          </button>
        </h3>
        <div id="title-form-{{ section.id }}"
             data-dropdown-content
             class="f-dropdown content">
        </div>
        <dl class="accordion" data-accordion>
          {% for section in section.sections %}
            {% include "backend/"~section.type~"Manager/_section"~section.type|capitalize~".html.twig"
                  with {'section': section} only %}
          {% endfor %}
        </dl>
        <hr>
      </div>
      {% else %}
      <div class="content-section single-section" data-id="{{ section.id }}">
        <span class="handle-section">&nbsp;</span>
        <dl class="accordion" data-accordion>
          {% include "backend/"~section.type~"Manager/_section"~section.type|capitalize~".html.twig"
                with {'section': section} only %}
        </dl>
        <hr>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{%- endblock main %}

{% block javascripts %}
{{ parent() }}
<script src="{{ app.request.basepath }}/js/vendor/jquery.ui.widget.js"></script>
<script src="{{ app.request.basepath }}/js/vendor/jquery.iframe-transport.js"></script>
<script src="{{ app.request.basepath }}/js/vendor/jquery.fileupload.js"></script>
{% endblock javascripts %}
