{% spaceless %}
<ul class="gallery-slideshow" data-orbit>
  {% for row, slide in section.items if slide.published %}
    <li data-orbit-slide="pic-{{ row }}">
      <div class="slide"
           style="background-image: url('{{ app.request.basepath }}/gallery/{{ slide.path }}');"></div>
      {{ widgets.gallery_slide_legend(slide, section, 'orbit-caption') }}
     </li>
  {% endfor %}
</ul>
{% if section.thumb_list %}
<div id="slide-thumbs">
  <div class="scroll-link scroll-left"></div>
  <div class="scroll-link scroll-right"></div>
  <div class="scroll-wrapper">
    <div class="scroll-area">
    {% for row, item in section.items if slide.published %}
      <a data-orbit-link="pic-{{ row }}"
         title="{{ item.title|e }}">
        <img src="{{ app.request.basepath }}/gallery/220/{{ item.path }}">
      </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endspaceless %}
