{% spaceless %}
<div class="row">
  <div class="large-12 columns">
    <ul class="gallery-slideshow" data-orbit>
      {% for item in section.items %}
      <li>
        <img src="{{ app.request.basepath }}/gallery/{{ item.path }}" alt="{{ item.title|e }}">
        {% if item.title|length or item.description|length %}
        <div class="orbit-caption">
          {{ item.title|nl2br }}
          {{ item.description|raw|nl2br }}
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endspaceless %}