{% spaceless %}

    {% if section.size == 'centered' %}
        {% set sub_folder = '/1200' %}
        <div class="row">
            <div class="large-12 columns">
    {% else %}
        {% set sub_folder = '' %}
    {% endif %}

            <div class="gallery-slider">
                {% for row, slide in section.slides if slide.published %}
                    <div>
                        <img data-lazy="{{ app.request.basepath }}/gallery{{ sub_folder }}/{{ slide.path }}"
                             alt="{{ slide.title|e }}">
                        {{ widgets.gallery_slide_legend(slide, section) }}
                    </div>
                {% endfor %}
            </div>

    {% if section.size == 'centered' %}
            </div>
        </div>
    {% endif %}

    {# Optional thumb list #}
    {% if section.thumbList %}
        <div id="slide-thumbs" class="large-10 columns">
            {% for row, slide in section.slides if slide.published %}
                <div>
                    <img data-lazy="{{ app.request.basepath }}/gallery/220/{{ slide.path }}"
                         alt="{{ slide.title|e }}">
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endspaceless %}