{% spaceless %}
<div class="row-fluid">
  <div class="large-12 columns">
    <ul class="small-block-grid-{{ section.grid_rows_small }}
               medium-block-grid-{{ section.grid_rows_medium }}
               large-block-grid-{{ section.grid_rows }}">
      {% for slide in section.items('Slide') if slide.published %}
        <li class="text-center">
          {% if slide.link|length %}
          <a href="{{ slide.link }}" title="{{ slide.title|e }}" target="_blank">
          {% endif %}
          <img src="{{ app.request.basepath }}/gallery/1200/{{ slide.path }}"
               alt="{{ slide.title|e }}">
          {% if slide.link|length %}
          </a>
          {% endif %}
          {{ widgets.gallery_slide_legend(slide, section) }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endspaceless %}
