{% extends "frontend/layout.html.twig" %}

{% if not section.nav_bar %}{% set nav_class = ' no-nav' %}{% else %}{% set nav_class = '' %}{% endif %}
{% if section.thumb_list %}{% set thumb_class = ' gallery-thumb' %}{% else %}{% set thumb_class = '' %}{% endif %}
{% if section.extended %}{% set extended_class = ' gallery-extended' %}{% else %}{% set extended_class = '' %}{% endif %}
{% block body_class parent()
    ~ widgets.section_body_classes(section)
    ~ ' gallery-'
    ~ section.gallery_mode
    ~ extended_class
    ~ nav_class
    ~ thumb_class
%}

{% block title widgets.section_title(section, parent()) %}

{% block description %}
{% if section.description|length %}
{{ section.description|e }}
{% else %}
{{ parent() }}
{% endif %}
{% endblock description %}

{% block head %}
  {% include "frontend/gallery/preloader.css.twig" %}
  {{ parent() }}
{% endblock head %}

{% block javascripts %}
{% if 'masonry' == section.gallery_mode %}
  {% include "frontend/gallery/_masonry.js.twig" %}
{% endif %}
{{ parent() }}
{% if section.thumb_list %}
  {% include "frontend/gallery/_fullScreenThumb.js.twig" %}
{% endif %}
{% endblock javascripts %}

{% block foundation_js %}
{% if section.isSlidable %}
  {% include "frontend/gallery/_slideshow.js.twig" %}
{% else %}
  {{ parent() }}
{% endif %}
{% endblock foundation_js %}

{% block main -%}
{% if section.hasItems('Slide') %}
  {{ section.triggerShuffle }}
  <div id="gallery">
    {% include "frontend/gallery/_"~ section.gallery_mode ~".html.twig" %}
  </div>
  <div class="hold-on">
    <div class="sandglass">
      <span id="sandglass_1"></span>
      <span id="sandglass_2"></span>
      <span id="sandglass_3"></span>
    </div>
  </div>
{% else %}
<p class="coming-soon">
  {{ 'section.coming.soon'|trans }}
</p>
{% endif %}
{%- endblock main %}
