{% extends "frontend/layout.html.twig" %}

{% if not section.navBar %}{% set nav_class = ' no-nav' %}{% else %}{% set nav_class = '' %}{% endif %}
{% if section.thumbList %}{% set thumb_class = ' gallery-thumb' %}{% else %}{% set thumb_class = '' %}{% endif %}
{% if section.extended %}{% set extended_class = ' gallery-extended' %}{% else %}{% set extended_class = '' %}{% endif %}
{% block body_class parent()
    ~ widgets.section_body_classes(section)
    ~ ' gallery-'
    ~ section.galleryMode
    ~ extended_class
    ~ nav_class
    ~ thumb_class
%}

{% block title widgets.section_title(section, parent()) %}

{% block description %}
{% if section.description|length %}
{{ section.description|e }}
{% else %}
{{ parent() }}
{% endif %}
{% endblock description %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.7/slick.css"/>
    {{ parent() }}
{% endblock head %}

{% block javascripts %}
    {{ parent() }}
    {% if 'masonry' == section.galleryMode %}
        {% include "frontend/gallery/_masonry.js.twig" with {
            'section': section
        } only  %}
    {% elseif section.isSlidable %}
        {% include "frontend/gallery/_slideshow.js.twig" with {
            'section': section
        } only %}
    {% endif %}
{% endblock javascripts %}

{%- block main -%}
{% if section.hasSlides %}
  {{ section.triggerShuffle }}
  <div id="gallery">
    {% include "frontend/gallery/_"~ section.galleryMode ~".html.twig" %}
  </div>
{% else %}
<p class="coming-soon">
  {{ 'section.coming.soon'|trans }}
</p>
{% endif %}
{%- endblock main -%}
