{% extends "frontend/layout.html.twig" %}

{% block main -%}
<div class="row">
  <div class="large-4 columns">
    {{ site.contactContent }}
  </div>
  <div class="large-8 columns">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <fieldset>
          {{ form_row(form.name) }}
          {{ form_row(form.email) }}
          {{ form_row(form.message) }}
        </fieldset>
        <div class="hidden">
          {{ form_rest(form) }}
        </div>
        <input type="submit" name="submit"
               value="{{ 'contact.send'|trans }}" class="tiny button">
    {{ form_end(form) }}
  </div>
</div>
<a href="{{ path('admin_content_manager') }}"
   id="admin-link"
   class="tiny secondary button">
  {{ 'admin.admin'|trans }}
</a>
{%- endblock main %}
