{% extends "frontend/layout.html.twig" %}

{% block body_class parent()~' content-gallery' %}

{% block foundation_js %}
<script>
$(document).foundation({
  orbit: {
      animation: 'slide',
      timer_speed: 10000,
      pause_on_hover: true,
      resume_on_mouseout: true,
      animation_speed: 500,
      stack_on_small: false,
      navigation_arrows: true,
      slide_number: false,
      slide_number_text: 'of',
      bullets: true,
      circular: true,
      timer: true,
      variable_height: false,
      swipe: true
  }
});
</script>
{% endblock foundation_js %}

{% block main -%}
{% if items|length %}
<div class="row">
  <div class="large-12 columns">
    <ul class="gallery-slideshow" data-orbit>
      {% for item in items %}
      <li>
        <img src="{{ app.request.basepath }}/gallery/{{ item.path }}" alt="{{ item.title|e }}">
        {% if item.title|length or item.description|length %}
        <div class="orbit-caption">
          {{ item.title|nl2br }}
          {{ item.description|raw|nl2br }}
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
<p class="coming-soon">
  {{ 'content.coming.soon'|trans }}
</p>
{% endif %}
{%- endblock main %}
