{% extends "layout.html.twig" %}

{% import "widgets.html.twig" as widgets %}

{% block head %}
{% if site.googleFonts|length %}
<link href="//fonts.googleapis.com/css?family={{ site.googleFonts }}" rel="stylesheet" type="text/css">
{% endif %}
<style>
{{ site.customStyle|raw }}
</style>
{% if section|default('')|length
  and section.custom_css|length %}
  <style>
    {{ section.custom_css|raw }}
  </style>
{% endif %}
{% endblock head %}

{% block javascripts %}
<script>
{{ site.customJavascript|raw }}
</script>
{% if section|default('')|length
  and section.custom_js|length %}
<script>
  {{ section.custom_js|raw }}
</script>
{% endif %}
{% endblock javascripts %}

{% block body_class parent()~' background-'~site.layoutBackground %}

{% block content -%}
{# Hide menu on homepage option #}
{% if site.hideMenuOnHomepage
  and section|default('')|length
  and section.isHomepage %}
  {% set hideMenu = true %}
{% else %}
  {% set hideMenu = false %}
{% endif %}
{% if 'top' == site.menuPosition
  and not hideMenu %}
  {% include "frontend/menu/_topbar.html.twig" only %}
{% elseif 'left' == site.menuPosition
  and not hideMenu %}
  <div class="off-canvas-wrap">
    <div class="inner-wrap">
    {% include "frontend/menu/_sidebar.html.twig" only %}
{% endif %}
    <section id="content"
             {% if 'left' == site.menuPosition and not hideMenu %}
             class="main-section large-10 medium-9 columns"
             {% endif %}>
      {% block main %}{% endblock %}
    </section>
{% if 'left' == site.menuPosition
  and not hideMenu %}
    <a class="exit-off-canvas"></a>
    </div>
  </div>
{% endif %}
{%- endblock content%}
