{% extends "frontend/layout.html.twig" %}

{% block main -%}
{{ form_start(form) }}
<div class="row">
  <div class="small-12 large-6 columns">
    {{ form_errors(form) }}
    <fieldset>
      <legend>{{ 'user.you'|trans }}</legend>
      {{ form_row(form.gender) }}
      {{ form_row(form.firstname) }}
      {{ form_row(form.lastname) }}
      {{ form_row(form.email) }}
    </fieldset>
  </div>
  <div class="small-12 large-6 columns">
    <fieldset>
      <legend>{{ 'user.access'|trans }}</legend>
      {{ form_row(form.username) }}
      {{ form_row(form.plainPassword) }}
    </fieldset>
    <div class="hidden">
      {{ form_rest(form) }}
    </div>
    <div class="text-right">
      <input type="submit" name="submit"
             value="{{ 'submit'|trans }}" class="tiny button">
    </div>
  </div>
</div>
{{ form_end(form) }}
{%- endblock main %}
