
{% macro section_body_classes(section) %}
{% if section.isHomepage %}{{ ' content-homepage' }}{% endif %}
{{ ' content-'~section.type }}
{% endmacro %}

{% macro btn_ajax(target, title) %}
{% spaceless %}
<button type="submit" class="small button"
        data-submit-ajax data-target="{{ target }}">
  <div class="btn-msg btn-ajax-submit">
    <span>{{ title|default('submit')|trans }}</span>
  </div>
  <div class="btn-msg btn-ajax-process hidden">
    <div class="btn-preloader">
      <div class="btn-preloader-elem btn-preloader-1"></div>
      <div class="btn-preloader-elem btn-preloader-2"></div>
      <div class="btn-preloader-elem btn-preloader-3"></div>
    </div>
    <span>{{ 'process'|trans }}</span>
  </div>
  <div class="btn-msg btn-ajax-saved hidden">
    <i class="fi-check"></i>
    <span>{{ 'saved'|trans }}</span>
  </div>
  <div class="btn-msg btn-ajax-failed hidden">
    <i class="fi-alert"></i>
    <span>{{ 'failed'|trans }}</span>
  </div>
</button>
{% endspaceless %}
{% endmacro %}

{% macro btn_dropdown_actions(target, ajax) %}
{% spaceless %}
<a href="#"
   title="{{ 'actions'|trans }}"
   {% if ajax|default('')|length %}
   data-dropdown-ajax="{{ target }}"
   {% else %}
   data-dropdown="{{ target }}"
   {% endif %}
   class="tiny secondary small actions button">
  <i class="fi-widget"></i>
</a>
{% endspaceless %}
{% endmacro %}

{% macro inclusion_replace_keys(content) %}
{{ content|replace({
    '__path:gallery__': app.request.basepath~'/gallery',
})|raw }}
{% endmacro %}

{% macro gallery_slide_legend(slide, section, wrapper_class) %}
{% spaceless %}
{% if slide.description|length or section.legend|length %}
  <div class="{{ wrapper_class|default('caption') }}">
    {{ section.legend|default('%s')|replace({'%s': slide.description})|raw }}
  </div>
{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro clipboard_text(text) %}
{% spaceless %}
<input class="clipboard"
       onclick="this.select();"
       readonly="readonly"
       type="text"
       value="{{ text }}">
{% endspaceless %}
{% endmacro %}

{% macro bytes_format(bytes) %}
{% spaceless %}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}
    {% set terabyte = gigabyte * 1024 %}

    {% if bytes < kilobyte %}
        {{ bytes ~ ' ' ~ ('weight.b'|trans) }}
    {% elseif bytes < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, '.')
            ~ ' ' ~ ('weight.kb'|trans) }}
    {% elseif bytes < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, '.')
            ~ ' ' ~ ('weight.mb'|trans) }}
    {% elseif bytes < terabyte %}
        {{ (bytes / gigabyte)|number_format(2, '.')
            ~ ' ' ~ ('weight.gb'|trans) }}
    {% else %}
        {{ (bytes / terabyte)|number_format(2, '.')
            ~ ' ' ~ ('weight.tb'|trans) }}
    {% endif %}
{% endspaceless %}
{% endmacro %}
