{# Frontend body classes integrator #}
{% macro section_body_classes(section) %}
{% if section.isHomepage %}{{ ' content-homepage' }}{% endif %}
{{ ' content-'~section.type }}
{% endmacro %}

{% macro section_title(section, baseTitle) %}
{% if not section.isHomepage %}{{ section.title }} | {% endif %}{{ baseTitle }}
{% endmacro %}

{% macro type_icon(type, class) %}
{% set typeIcons = {
    'gallery': 'photo',
    'channel': 'play-video',
    'html': 'page',
    'blog': 'page-copy',
    'form': 'checkbox',
    'map': 'map',
    'link': 'link'
} %}
<i class="fi-{{ typeIcons[type|default('html')] }} {{ class }}"></i>
{% endmacro %}

{% macro visibility_icon(visibility, class) %}
{% set visibilityIcons = {
    'homepage': 'home',
    'public': 'link',
    'private': 'lock',
    'hidden': 'unlink',
    'closed': 'prohibited'
} %}
<i class="fi-{{ visibilityIcons[visibility] }} {{ class }}"></i>
{% endmacro %}

{# Main frontend nav bar link formatter #}
{% macro menu_link(section, follow) %}
{% spaceless %}
<li>
{% if ('link' == section.type) %}
    <a href="{{ section.url }}"
       {% if section.targetBlank %}
           target="_blank"
       {% endif %}
       {{ follow }}>
        {{ section.title }}
    </a>
{% else %}
    <a href="{{ path('section', {'slug': section.slug}) }}"
       {{ follow }}>
        {{ section.title }}
    </a>
{% endif %}
</li>
{% endspaceless %}
{% endmacro %}

{# Ajax form submittion button #}
{% macro btn_ajax(target, title) %}
{% spaceless %}
<button type="submit" class="small button"
        data-submit-ajax data-target="{{ target }}">
  <div class="btn-msg btn-ajax-submit">
    <span>{{ title|default('submit')|trans }}</span>
  </div>
  <div class="btn-msg btn-ajax-process hidden">
    <div class="btn-preloader">
      <div class="btn-preloader-elem btn-preloader-1"></div>
      <div class="btn-preloader-elem btn-preloader-2"></div>
      <div class="btn-preloader-elem btn-preloader-3"></div>
    </div>
    <span>{{ 'process'|trans }}</span>
  </div>
  <div class="btn-msg btn-ajax-saved hidden">
    <i class="fi-check"></i>
    <span>{{ 'saved'|trans }}</span>
  </div>
  <div class="btn-msg btn-ajax-failed hidden">
    <i class="fi-alert"></i>
    <span>{{ 'failed'|trans }}</span>
  </div>
</button>
{% endspaceless %}
{% endmacro %}

{# Dropdown links #}
{% macro btn_dropdown_actions(target, ajax, class) %}
{% spaceless %}
<a href="#"
   title="{{ 'actions'|trans }}"
   {% if ajax|default('')|length %}
   data-dropdown-ajax="{{ target }}"
   {% else %}
   data-dropdown="{{ target }}"
   {% endif %}
   class="tiny secondary small actions {{ class|default('') }} button">
  <i class="fi-widget"></i>
</a>
{% endspaceless %}
{% endmacro %}

{# Keys replacement mechanism for rich contents #}
{% macro inclusion_replace_keys(content) %}
{{ content|replace({
    '__path:section__': '/s',
    '__path:first_section__': path('first_section'),
    '__path:gallery__': '/gallery',
})|raw }}
{% endmacro %}

{# HTML formatter for galleries slides legend #}
{% macro gallery_slide_legend(slide, section) %}
{% spaceless %}
{% if slide.description|length or section.legend|length %}
  <div class="caption">
    {{ section.legend|default('%s')|replace({'%s': slide.description})|raw }}
  </div>
{% endif %}
{% endspaceless %}
{% endmacro %}

{# Widget to easily copy-paste data #}
{% macro clipboard_text(text) %}
{% spaceless %}
<input class="clipboard"
       onclick="this.select();"
       readonly="readonly"
       type="text"
       value="{{ text }}">
{% endspaceless %}
{% endmacro %}

{# Display formatted bytes weight #}
{% macro bytes_format(bytes) %}
{% spaceless %}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}
    {% set terabyte = gigabyte * 1024 %}

    {% if bytes < kilobyte %}
        {{ bytes ~ ' ' ~ ('weight.b'|trans) }}
    {% elseif bytes < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, '.')
            ~ ' ' ~ ('weight.kb'|trans) }}
    {% elseif bytes < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, '.')
            ~ ' ' ~ ('weight.mb'|trans) }}
    {% elseif bytes < terabyte %}
        {{ (bytes / gigabyte)|number_format(2, '.')
            ~ ' ' ~ ('weight.gb'|trans) }}
    {% else %}
        {{ (bytes / terabyte)|number_format(2, '.')
            ~ ' ' ~ ('weight.tb'|trans) }}
    {% endif %}
{% endspaceless %}
{% endmacro %}
