{% extends "backend/layout.html.twig" %}

{% block main -%}
{{ form_start(form, {
      'action': path('admin_site_settings')
}) }}
<div class="row">
  <div class="small-12 large-6 columns">
    {{ form_errors(form) }}
    <fieldset>
      <legend>{{ 'site.site'|trans }}</legend>
      {{ form_row(form.name) }}
      {{ form_row(form.description, {'attr': {'rows': '4'} }) }}
      {{ form_row(form.authorName) }}
      {{ form_row(form.maintenance, {'attr': {'class': 'active'~site.maintenance} }) }}
    </fieldset>
    <fieldset>
      <legend>Google</legend>
      {{ form_row(form.analyticsKey) }}
      {{ form_row(form.verificationKey) }}
    </fieldset>
    <fieldset>
      <legend>{{ 'section.sections'|trans }}</legend>
      {{ form_row(form.newSectionDefaultVisibility) }}
    </fieldset>
    <fieldset>
      <legend>{{ 'file.manager'|trans }}</legend>
      {{ form_row(form.shareFiles) }}
    </fieldset>
  </div>
  <div class="small-12 large-6 columns">
    <fieldset>
      <legend>{{ 'site.style.layout'|trans }}</legend>
      {{ form_row(form.layoutBackground) }}
      {{ form_row(form.menuPosition) }}
      {{ form_row(form.hideMenuOnHomepage) }}
      {{ form_row(form.adminLink) }}
      <div class="text-right">
        <button type="button" class="tiny secondary button"
                data-display="#advanced-layout">
          {{ 'advanced.settings'|trans }}
        </button>
      </div>
      <div id="advanced-layout" class="hidden">
        {{ form_row(form.subDomain) }}
        {{ form_row(form.customStyle, {'attr': {'rows': '12'} }) }}
        {{ form_row(form.customJavascript, {'attr': {'rows': '12'} }) }}
        {{ form_row(form.googleFonts) }}
      </div>
    </fieldset>
    <fieldset>
      <legend>{{ 'contact.messaging'|trans }}</legend>
      {{ form_row(form.contactSection) }}
      <div id="contact-content-wrapper"{% if site.contactSection == 'disabled' %} class="hidden"{% endif %}>
        {{ form_row(form.contactContent, {'attr': {'rows': '12'} }) }}
      </div>
      <div id="contact-send-to-wrapper"{% if site.contactSection in ['no.form', 'disabled'] %} class="hidden"{% endif %}>
        {{ form_row(form.contactSendToEmail) }}
      </div>
    </fieldset>
    <div class="hidden">
      {{ form_rest(form) }}
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-6 medium-push-6 columns text-right">
    {{ widgets.btn_ajax() }}
  </div>
  <div class="medium-6 medium-pull-6 columns copyright">
    <img class="left" src="{{ app.request.basepath }}/img/ideys.png">
    <p>
        &copy; 2013-{{ 'now'|date('Y') }} Ideys Expose v.{{ semver }}
    </p>
  </div>
</div>
{{ form_end(form) }}
{%- endblock main %}

{% block javascripts %}
{{ parent() }}
<script>
$('#form_name').on('keyup', function() {
    $('.title-area .name a').text($(this).val());
});

$('#form_shareFiles').on('change', function() {
    if ('1' === $(this).val()) {
        $('#file-manager-link').removeClass('hidden');
    } else {
        $('#file-manager-link').addClass('hidden');
    }
});
</script>
{% endblock javascripts %}
