{% extends "backend/layout.html.twig" %}

{% block main -%}
<div class="row">
  <div class="large-6 columns">
    {% for file in files %}
    <div class="file panel">
        <h5>{{ file.title }} <small>{{ file.name }}</small></h5>
        <ul class="no-bullet recipient-list">
          {% for recipient in file.recipients %}
            <li>

              <span>{{ recipient.name }}</span>

              <small>{{ recipient.downloadCounter }}</small>

              <button class="tiny secondary button right edit-recipient"
                      type="button"
                      data-inject-call="{{ path('admin_files_manager_edit_recipient', {
                          'fileId': file.id,
                          'id': recipient.id
                      }) }}"
                      data-target="#recipient-form-{{ recipient.id }}"
                      data-dropdown="recipient-form-{{ recipient.id }}"
                      title="{{ 'edit'|trans }}">
                <i class="fi-pencil"></i>
              </button>

              <div id="recipient-form-{{ recipient.id }}"
                   data-dropdown-content
                   class="f-dropdown content">
              </div>

              {{ widgets.clipboard_text(url('file_share', {'token': recipient.token, 'slug': file.slug})) }}

              {% if recipient.downloadLogs|length %}
              <ul class="download-logs">
                <li><strong>{{ 'file.last.downloads'|trans }}</strong></li>
                {% for log in recipient.downloadLogs %}
                    <li>{{ log|date('d/m/Y H:i') }}</li>
                {% endfor %}
              </ul>
              {% endif %}

            </li>
          {% endfor %}
        </ul>
        <div class="options">
          <button class="tiny secondary button left new-recipient"
                  type="button"
                  data-inject-call="{{ path('admin_files_manager_edit_recipient', {
                    'fileId': file.id,
                    'id': 0
                  }) }}"
                  data-target="#new-recipient-form-{{ file.id }}"
                  data-dropdown="new-recipient-form-{{ file.id }}"
                  title="{{ 'file.new.recipient'|trans }}">
            <i class="fi-plus"></i>
          </button>
          <div id="new-recipient-form-{{ file.id }}"
               data-dropdown-content
               class="f-dropdown content">
          </div>

          {{ widgets.btn_dropdown_actions('file-actions-'~file.id, '', 'right') }}
          <ul id="file-actions-{{ file.id }}"
              data-dropdown-content=""
              class="f-dropdown">
            <li>
                <a href="#"
                   data-inject-call="{{ path('admin_files_manager_edit', {'id': file.id}) }}"
                   data-target="#file-edit-wrapper-{{ file.id }}">
                    {{ 'rename'|trans }}
                </a>
            </li>
            <li id="file-edit-wrapper-{{ file.id }}"></li>
            <li>
                <a href="{{ path('admin_files_manager_delete', {'id': file.id}) }}"
                   data-confirm-action="{{ 'file.delete'|trans }}">
                    {{ 'delete'|trans }}
                </a>
            </li>
          </ul>
        </div>
    </div>
    {% else %}
    <p class="notice-empty">{{ 'file.no.files'|trans }}</p>
    {% endfor %}
  </div>
  <div class="large-6 columns">
    {{ form_start(form, {
      'action': path('admin_files_manager')
    }) }}
      {{ form_row(form.title) }}
      {{ form_row(form.file) }}
      <input type="submit" name="submit"
             value="{{ 'submit'|trans }}" class="tiny right button">
    {{ form_end(form) }}
  </div>
</div>
{%- endblock main %}
