{% extends "backend/layout.html.twig" %}

{% block main -%}
<div class="row">
  <div class="large-6 columns">
    {% for file in files %}
    <div class="file panel">
        <h5>{{ file.title }} <small>{{ file.name }}</small></h5>
        <ul class="no-bullet">
          {% for recipient in file.recipients %}
            <li>
              {{ recipient.name }}
              <small>{{ recipient.downloadCounter }}</small>
              <input class="clipboard"
                     onclick="this.select();"
                     readonly="readonly"
                     type="text"
                     value="{{ url('file_share', {'token': recipient.token, 'slug': file.slug}) }}">
            </li>
          {% endfor %}
        </ul>
    </div>
    {% else %}
    <p class="notice-empty">{{ 'file.no.files'|trans }}</p>
    {% endfor %}
  </div>
  <div class="large-6 columns">
    {{ form_start(form, {
      'action': path('admin_files_manager')
    }) }}
      {{ form_row(form.title) }}
      {{ form_row(form.file) }}
      <input type="submit" name="submit"
             value="{{ 'submit'|trans }}" class="tiny right button">
    {{ form_end(form) }}
  </div>
</div>
{%- endblock main %}

{% block head %}
{{ parent() }}
<style>
input.clipboard {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
</style>
{% endblock head %}
