{% spaceless %}
<div class="row">
  <div class="medium-6 columns">
    {{ form_start(edit_form, {
      'action': path('admin_channel_manager_settings', {'id': section.id})
    }) }}
      {{ form_row(edit_form.title) }}
      {{ form_row(edit_form.description) }}
      {{ form_row(edit_form.expose_section_id) }}
      {{ form_row(edit_form.visibility) }}
      <input type="submit" name="submit"
             value="{{ 'submit'|trans }}" class="tiny right button">
    {{ form_end(edit_form) }}
  </div>
  <div class="medium-6 columns">
    {% include 'backend/contentManager/_interactionsLinks.html.twig' with {
    'section': section,
    'delete_form': delete_form,
    'action_path': path('admin_channel_manager_delete', {'id': section.id}),
    'info': 'channel.delete.section'
    } only %}
  </div>
</div>
{% endspaceless %}