{% spaceless %}
<dd data-id="{{ section.id }}"
    class="section {{ section.visibility }}-section">
  {% include 'backend/contentManager/_sectionTitle.html.twig' with {'section': section} only %}
  <div class="content video" id="panel{{ section.id }}">
    <dl class="tabs" data-tab>
      <dd>
        <a href="#panel{{ section.id }}-preview">
          {{ 'section.channel'|trans }}
        </a>
      </dd>
      <dd>
        <a href="#panel{{ section.id }}-settings"
           data-inject-call="{{ path('admin_channel_manager_settings', {'id': section.id}) }}"
           data-target="#panel{{ section.id }}-settings">
          {{ 'settings'|trans }}
        </a>
      </dd>
    </dl>
    <div class="tabs-content">
      <div class="content" id="panel{{ section.id }}-preview">
      </div>
      <div class="content" id="panel{{ section.id }}-settings">
      </div>
    </div>
  </div>
</dd>
{% endspaceless %}