{% spaceless %}
<dd data-id="{{ section.id }}"
    class="section {{ section.visibility }}-section">
  {% include 'backend/contentManager/_sectionTitle.html.twig' with {'section': section} only %}
  <div id="panel{{ section.id }}"
       class="content panel-section video">
    <dl class="tabs" data-tab>
      <dd>
        <a href="#panel{{ section.id }}-list"
           data-inject-call="{{ path('admin_channel_manager_list', {'id': section.id}) }}"
           data-target="#panel{{ section.id }}-list">
          {{ 'section.channel'|trans }}
        </a>
      </dd>
      <dd>
        <a href="#panel{{ section.id }}-add"
           data-inject-call="{{ path('admin_channel_manager_add', {'id': section.id}) }}"
           data-target="#panel{{ section.id }}-add">
          {{ 'add'|trans }}
        </a>
      </dd>
      <dd>
        <a href="#panel{{ section.id }}-settings"
           data-inject-call="{{ path('admin_channel_manager_settings', {'id': section.id}) }}"
           data-target="#panel{{ section.id }}-settings">
          {{ 'settings'|trans }}
        </a>
      </dd>
    </dl>
    <div class="tabs-content">
      <div class="content" id="panel{{ section.id }}-list">
      </div>
      <div class="content" id="panel{{ section.id }}-add">
      </div>
      <div class="content" id="panel{{ section.id }}-settings">
      </div>
    </div>
  </div>
</dd>
{% endspaceless %}