{% import "widgets.html.twig" as widgets %}
{% spaceless %}
{% if section.hasVideos %}
<ul id="videos-{{ section.id }}"
    class="medium-block-grid-3 small-block-grid-1 videos-grid"
    data-sortable="{{ path('admin_content_manager_sort_items') }}">
  {% for video in section.videos %}
  <li data-selectable data-id="{{ video.id }}">
    <h5>{{ video.title }}</h5>
    <div class="flex-video {{ video.provider }} handle">
        <iframe src="{{ video.path }}" frameborder="0"></iframe>
    </div>
    <div class="video-controls row">
      <div>
        <div class="large-4 small-6 columns">
          <img src="{{ app.request.basepath }}/assets/img/video_{{ video.provider }}.jpg">
        </div>
        <div class="large-8 small-6 columns text-right">
        {{ widgets.btn_dropdown_actions('video-actions-'~video.id, 'ajax') }}
        <ul id="video-actions-{{ video.id }}" class="f-dropdown">
          <li>
            <a href="{{ path('admin_channel_manager_remove_video', {
                    'id': section.id,
                    'itemId': video.id
                }) }}"
                data-confirm-action="{{ 'channel.delete'|trans }}">
              {{ 'delete'|trans }}
            </a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="notice-empty">{{ 'channel.video.none'|trans }}</p>
{% endif %}
{% endspaceless %}
