{% spaceless %}
<dd data-id="{{ section.id }}"
    class="section{% if not section.active %} hidden-section{% endif %}">
  <a href="#panel{{ section.id }}">
    <span class="handle-section">&nbsp;</span>
    {{ section.title }}
  </a>
  <div class="content video" id="panel{{ section.id }}">
    <p>{{ section.description|nl2br }}</p>
    Video
  </div>
</dd>
{% endspaceless %}