{% spaceless %}
<div class="dir-title row">
  <div class="small-10 medium-11 columns dir-toggle" data-dir-toggle>
  <span class="handle-section handle-dir">&nbsp;</span>
  <h3>
    {{ section.title }}
    <small class="counter">{{ section.sections|length }}</small>
    <i class="fi-plus dir-toggle-indicator right"></i>
  </h3>
  </div>
  <div class="small-1 medium-1 columns">
    <ul class="inline-list dir-actions right">
      <li>
        <button class="tiny secondary button"
                type="button"
                data-inject-call="{{ path('admin_content_manager_edit_dir', {'id': section.id}) }}"
                data-target="#title-form-{{ section.id }}"
                data-dropdown="title-form-{{ section.id }}"
                title="{{ 'edit'|trans }}">
          <i class="fi-pencil"></i>
        </button>
      </li>
    </ul>
    <div id="title-form-{{ section.id }}"
         data-dropdown-content
         class="f-dropdown content">
    </div>
  </div>
</div>
{% endspaceless %}