{% spaceless %}
{{ form_row(edit_form.legend, {'attr': {'rows': '3'} }) }}
{{ form_row(edit_form.gallery_mode) }}
<div class="for-mode for-fullscreen{% if section.gallery_mode != 'fullscreen' %} hidden{% endif %}">
  {{ form_row(edit_form.extended) }}
</div>
<div class="for-mode for-slideshow for-fullscreen{% if section.gallery_mode not in ['slideshow', 'fullscreen'] %} hidden{% endif %}">
  {{ form_row(edit_form.slide_mode) }}
  {{ form_row(edit_form.nav_bar) }}
  {{ form_row(edit_form.thumb_list) }}
</div>
<div class="for-mode for-vertical{% if section.gallery_mode != 'vertical' %} hidden{% endif %}">
  {{ form_row(edit_form.grid_rows) }}
  {{ form_row(edit_form.grid_rows_medium) }}
  {{ form_row(edit_form.grid_rows_small) }}
</div>
{{ form_row(edit_form.shuffle) }}
{% endspaceless %}