{% import "widgets.html.twig" as widgets %}
{% spaceless %}
{% if section.hasItems %}
{{ form_start(form, {
    'action': path('admin_gallery_manager_labels', {'id': section.id}),
    'attr': {'id': 'section-form-'~section.id }
}) }}
{{ widgets.btn_ajax() }}
<ul class="label-list small-block-grid-1 medium-block-grid-2">
  {% for slide in section.items %}
  <li>
    <div class="row">
      <div class="small-6 columns">
        <img src="{{ app.request.basepath }}/gallery/220/{{ slide.path }}">
      </div>
      <div class="small-6 columns">
        <ul class="no-bullet slide-meta">
          <li><em>{{ 'file.size'|trans }}</em>:<br>
            {{ widgets.bytes_format(slide.file_size) }}</li>
          <li><em>{{ 'file.original.name'|trans }}</em>:<br>
            {{ slide.original_name }}</li>
          <li><em>{{ 'file.html.include'|trans }}</em>:
            {{ widgets.clipboard_text('<img src="__path:gallery__/220/'~ slide.path~'">') }}</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <fieldset>
          {{ form_widget(form['description'~slide.id], {'attr': {'rows': '2', 'class': 'slide-description'} }) }}
          {{ form_widget(form['title'~slide.id]) }}
          {% if section.isLinkable %}
          {{ form_widget(form['link'~slide.id]) }}
          {% endif %}
        </fieldset>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
<div class="hide">
  {{ form_rest(form) }}
</div>
{{ widgets.btn_ajax() }}
{{ form_end(form) }}
{% else %}
<p class="notice-empty">{{ 'gallery.no.pics'|trans }}</p>
{% endif %}
<script>
    $('#section-form-{{ section.id }} .slide-description').markItUp(markitupSettingsCompact);
</script>
{% endspaceless %}