{% spaceless %}
{% if section.hasItems %}
{{ form_start(form, {'action': path('admin_gallery_manager_labels', {'id': section.id})}) }}
<button type="submit" class="button small"
        data-submit-ajax data-target="#panel{{ section.id }}-labels">
  {{ 'submit'|trans }}
</button>
<ul class="small-block-grid-2 large-block-grid-2">
  {% for slide in section.items %}
  <li>
    <div class="th">
      <img src="{{ app.request.basepath }}/gallery/220/{{ slide.path }}"
           class="left">
      {{ form_widget(form['description'~slide.id]) }}
      {{ form_widget(form['title'~slide.id]) }}
    </div>
  </li>
  {% endfor %}
</ul>
<button type="submit" class="button small"
        data-submit-ajax data-target="panel{{ section.id }}-labels">
  {{ 'submit'|trans }}
</button>
{{ form_end(form) }}
{% else %}
<p class="notice-empty">{{ 'gallery.no.pics'|trans }}</p>
{% endif %}
{% endspaceless %}