{% import "widgets.html.twig" as widgets %}
{% spaceless %}
{% if section.hasItems('Slide') %}
{{ form_start(form, {
    'action': path('admin_gallery_manager_labels', {'id': section.id}),
    'attr': {'id': 'section-form-'~section.id }
}) }}

{{ widgets.btn_ajax() }}

<div>
  <label for="form_global_legend" style="display: inline">
    {{ 'gallery.global.legend'|trans }}
  </label>
  <span data-display="#global-legend-info-{{ section.id }}">
    <i class="fi-info"></i>
  </span>
  <div id="global-legend-info-{{ section.id }}" class="panel radius hidden">
    <p>{{ 'gallery.global.legend.info'|trans|raw }}</p>
  </div>
  {{ form_widget(form.global_legend, {'attr': {'rows': '3'} }) }}
</div>

<ul class="label-list small-block-grid-1 medium-block-grid-2">
  {% for slide in section.items('Slide') %}
  <li>
    <div class="row">
      <div class="small-6 columns">
        <img src="{{ app.request.basepath }}/gallery/220/{{ slide.path }}">
      </div>
      <div class="small-6 columns">
        <ul class="no-bullet slide-meta">
          <li><em>{{ 'file.size'|trans }}</em>:
            {{ widgets.bytes_format(slide.file_size) }}</li>
          <li><em>{{ 'file.original.name'|trans }}</em>:
            {{ slide.original_name }}</li>
          <li><em>{{ 'file.uploaded.at'|trans }}</em>:
            {{ slide.created_at|date('d/m/Y H:i') }}</li>
          {% for key, data in slide.metaData %}
          <li><em>{{ ('file.meta.'~key)|trans }}</em>:
            {{ data }}</li>
          {% endfor %}
        </ul>

        <a href="#"
           class="slide-include-link"
           data-display="#slide-include-panel-{{ slide.id }}">
            {{ 'file.html.include'|trans }}
        </a>

        <ul id="slide-include-panel-{{ slide.id }}" class="no-bullet slide-meta hidden">
          {% for size, title in {
            '220/': 'gallery.slide.thumb',
            '1200/': 'gallery.slide.large',
            '': 'gallery.slide.original',
          } %}
          <li><em>{{ title|trans }}</em>:
            {{ widgets.clipboard_text('<img src="__path:gallery__/' ~ size ~ slide.path~'">') }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <fieldset>
          {{ form_widget(form['description'~slide.id], {'attr': {'rows': '2', 'class': 'slide-description'} }) }}
          {{ form_widget(form['title'~slide.id]) }}
          {% if section.isLinkable %}
          {{ form_widget(form['link'~slide.id]) }}
          {% endif %}
        </fieldset>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="hide">
  {{ form_rest(form) }}
</div>

{{ widgets.btn_ajax() }}
{{ form_end(form) }}
{% else %}
<p class="notice-empty">{{ 'gallery.no.pics'|trans }}</p>
{% endif %}

<script>
    $('#section-form-{{ section.id }} .slide-description').markItUp(markItUpSettingsCompact);
</script>
{% endspaceless %}
