{% import "widgets.html.twig" as widgets %}
{% spaceless %}
<div class="items-holder">
{% include 'backend/galleryManager/_slidesManagerLinks.html.twig' with {
    'widgets': widgets,
    'section': section,
    'mode': 'gallery'
} only %}
<div class="section-info">
  <ul class="inline-list right">
    {% if section.tag|length %}
    <li>
      <span class="secondary round label">
        <i class="fi-price-tag"></i>
        {{ section.tag }}
      </span>
    </li>
    {% endif %}
    <li>
      <span class="secondary round label">
        <i class="fi-projection-screen"></i>
        {{ ('gallery.mode.'~section.gallery_mode)|trans }}
      </span>
    </li>
    <li>
      <span class="secondary round label">
        <i class="fi-graph-pie"></i>
        {{ widgets.bytes_format(section.weight) }}
      </span>
    </li>
    {% if section.shuffle %}
    <li>
      <span class="secondary round label">
        <i class="fi-shuffle"></i>
        {{ 'gallery.slide.shuffle'|trans }}
      </span>
    </li>
    {% endif %}
    <li>
      <a href="{{ path('section', {'slug': section.slug}) }}"
         title="{{ 'section.preview'|trans }}"
         target="_blank"
         class="preview-link">
        <i class="fi-eye"></i>
      </a>
    </li>
  </ul>
</div>
{% include 'backend/galleryManager/_slidesManager.html.twig' with {'section': section} only %}
</div>
{% endspaceless %}
