{% spaceless %}
<div data-selectable-actions class="hidden stack-actions">
  <ul class="button-group">
    <li>
      <h3 class="selectable-counter">&nbsp;</h3>
    </li>
    <li>
      <button
          type="button"
         class="secondary button small"
         data-select="all">
        {{ 'select.all'|trans }}
      </button>
    </li>
    <li>
      <button
          type="button"
         class="secondary button small"
         data-select="none">
        {{ 'select.none'|trans }}
      </button>
    </li>
    <li>
      <button
          type="button"
         class="button small"
         data-display="#delete-slides-{{ section.id }}">
        {{ 'delete'|trans }}
      </button>
    </li>
    <li>
      <button
         type="button"
         data-delete="{{ path('admin_gallery_manager_delete_slides', {'id': section.id}) }}"
         data-target="#slides-{{ section.id }}"
         id="delete-slides-{{ section.id }}"
         class="button small alert hidden">
        {{ 'confirm'|trans }}
      </button>
    </li>
    <li>
      <a href="#"
         data-dropdown-ajax="move-selection-{{ section.id }}"
         class="button dropdown small">
        {{ 'move'|trans }}
      </a><br>
      <ul id="move-selection-{{ section.id }}" class="f-dropdown">
        {% for sectionMove in sections
            if sectionMove.type in ['gallery', 'dir']
            and sectionMove.id != section.id %}
            {% if 'dir' == sectionMove.type  %}
              {% for subsectionMove in sectionMove.sections
                 if 'gallery' == subsectionMove.type
                 and subsectionMove.id != section.id %}
                <li>
                  <a href="{{ path('admin_content_manager_move_items', {'id': subsectionMove.id}) }}"
                     data-target="#slides-{{ section.id }}"
                     data-move>
                    {{ subsectionMove.title }}
                  </a>
                </li>
              {% endfor %}
            {% else  %}
            <li>
              <a href="{{ path('admin_content_manager_move_items', {'id': sectionMove.id}) }}"
                 data-target="#slides-{{ section.id }}"
                 data-move>
                {{ sectionMove.title }}
              </a>
            </li>
          {% endif  %}
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
<div class="text-right section-info">
{% if section.shuffle %}
  <span class="secondary round label">
    <i class="fi-shuffle"></i>
    {{ 'gallery.slide.shuffle'|trans }}
  </span>
{% endif %}
</div>
{% if section.hasItems %}
<ul id="slides-{{ section.id }}"
    class="small-block-grid-2 medium-block-grid-3 large-block-grid-6 slides-grid"
    data-selected=""
    data-sortable="{{ path('admin_content_manager_sort_items') }}">
  {% for slide in section.itemsRealHierarchy %}
  <li data-selectable data-id="{{ slide.id }}">
    <img class="th handle"
         src="{{ app.request.basepath }}/gallery/220/{{ slide.path }}">
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="notice-empty">{{ 'gallery.no.pics'|trans }}</p>
{% endif %}
{% endspaceless %}