{% import "widgets.html.twig" as widgets %}
{% spaceless %}
<div data-selectable-actions class="hidden stack-actions">
  <ul class="button-group">
    <li>
      <button
        type="button"
        title="{{ 'select.all'|trans }}"
        class="button small selectable-counter"
        data-alt-title="{{ 'select.none'|trans }}"
        data-select="none">
      </button>
    </li>
    <li>
      <a href="{{ path('admin_content_manager_toggle_items', {'id': section.id}) }}"
         title="{{ 'gallery.picture.on.off'|trans }}"
         class="button small"
         data-target="#slides-{{ section.id }}"
         data-toggle-visibility>
        <i class="fi-prohibited"></i>&nbsp;
        <span class="hide-for-small-only">{{ 'gallery.picture.on.off'|trans }}</span>
      </a>
    </li>
    <li>
      <a href="#"
         title="{{ 'move'|trans }}"
         data-dropdown-ajax="move-selection-{{ section.id }}"
         class="button small">
        <i class="fi-folder"></i>&nbsp;
        <span class="hide-for-small-only">{{ 'move'|trans }}</span>
      </a><br>
      <ul id="move-selection-{{ section.id }}" class="f-dropdown">
        {% for sectionMove in sections
            if sectionMove.type in ['gallery', 'dir']
            and sectionMove.id != section.id %}
            {% if 'dir' == sectionMove.type  %}
              {% for subsectionMove in sectionMove.sections
                 if 'gallery' == subsectionMove.type
                 and subsectionMove.id != section.id %}
                <li>
                  <a href="{{ path('admin_content_manager_move_items', {'id': subsectionMove.id}) }}"
                     data-target="#slides-{{ section.id }}"
                     data-move>
                    {{ subsectionMove.title }}
                  </a>
                </li>
              {% endfor %}
            {% else  %}
            <li>
              <a href="{{ path('admin_content_manager_move_items', {'id': sectionMove.id}) }}"
                 data-target="#slides-{{ section.id }}"
                 data-move>
                {{ sectionMove.title }}
              </a>
            </li>
          {% endif  %}
        {% endfor %}
      </ul>
    </li>
    <li>
      <button
        type="button"
        title="{{ 'delete'|trans }}"
        data-delete="{{ path('admin_gallery_manager_delete_slides', {'id': section.id}) }}"
        data-confirm-message="{{ 'confirm'|trans }}"
        data-target="#slides-{{ section.id }}"
        class="button small alert">
        <i class="fi-x"></i>&nbsp;
        <span class="hide-for-small-only">{{ 'delete'|trans }}</span>
      </button>
    </li>
  </ul>
</div>
<div class="section-info">
  <ul class="inline-list right">
    {% if section.tag|length %}
    <li>
      <span class="secondary round label">
        <i class="fi-price-tag"></i>
        {{ section.tag }}
      </span>
    </li>
    {% endif %}
    <li>
      <span class="secondary round label">
        <i class="fi-projection-screen"></i>
        {{ ('gallery.mode.'~section.gallery_mode)|trans }}
      </span>
    </li>
    <li>
      <span class="secondary round label">
        <i class="fi-graph-pie"></i>
        {{ widgets.bytes_format(section.weight) }}
      </span>
    </li>
    {% if section.shuffle %}
    <li>
      <span class="secondary round label">
        <i class="fi-shuffle"></i>
        {{ 'gallery.slide.shuffle'|trans }}
      </span>
    </li>
    {% endif %}
    <li>
      <a href="{{ path('section', {'slug': section.slug}) }}"
         title="{{ 'section.preview'|trans }}"
         target="_blank"
         class="preview-link">
        <i class="fi-eye"></i>
      </a>
    </li>
  </ul>
</div>
{% include 'backend/galleryManager/_slidesManager.html.twig' with {'section': section} only %}
{% endspaceless %}
