{% import "widgets.html.twig" as widgets %}
{% spaceless %}
<div data-selectable-actions class="hidden stack-actions">
  <ul class="button-group">
    <li>
      <h3 class="selectable-counter">&nbsp;</h3>
    </li>
    <li>
      <button
        type="button"
        title="{{ 'select.all'|trans }}"
        class="secondary button small"
        data-select="all">
        <i class="fi-target"></i>&nbsp;
        <span class="hide-for-small-only">{{ 'select.all'|trans }}</span>
      </button>
    </li>
    <li>
      <button
        type="button"
        title="{{ 'select.none'|trans }}"
        class="secondary button small"
        data-select="none">
        <i class="fi-minus-circle"></i>&nbsp;
        <span class="hide-for-small-only">{{ 'select.none'|trans }}</span>
      </button>
    </li>
    <li>
      <a href="{{ path('admin_content_manager_toggle_items', {'id': section.id}) }}"
         title="{{ 'gallery.picture.on.off'|trans }}"
         class="button small"
         data-target="#slides-{{ section.id }}"
         data-toggle-visibility>
        <i class="fi-prohibited"></i>&nbsp;
        <span class="hide-for-small-only">{{ 'gallery.picture.on.off'|trans }}</span>
      </a>
    </li>
    <li>
      <a href="#"
         title="{{ 'move'|trans }}"
         data-dropdown-ajax="move-selection-{{ section.id }}"
         class="button small">
        <i class="fi-folder"></i>&nbsp;
        <span class="hide-for-small-only">{{ 'move'|trans }}</span>
      </a><br>
      <ul id="move-selection-{{ section.id }}" class="f-dropdown">
        {% for sectionMove in sections
            if sectionMove.type in ['gallery', 'dir']
            and sectionMove.id != section.id %}
            {% if 'dir' == sectionMove.type  %}
              {% for subsectionMove in sectionMove.sections
                 if 'gallery' == subsectionMove.type
                 and subsectionMove.id != section.id %}
                <li>
                  <a href="{{ path('admin_content_manager_move_items', {'id': subsectionMove.id}) }}"
                     data-target="#slides-{{ section.id }}"
                     data-move>
                    {{ subsectionMove.title }}
                  </a>
                </li>
              {% endfor %}
            {% else  %}
            <li>
              <a href="{{ path('admin_content_manager_move_items', {'id': sectionMove.id}) }}"
                 data-target="#slides-{{ section.id }}"
                 data-move>
                {{ sectionMove.title }}
              </a>
            </li>
          {% endif  %}
        {% endfor %}
      </ul>
    </li>
    <li>
      <button
        type="button"
        title="{{ 'delete'|trans }}"
        data-delete="{{ path('admin_gallery_manager_delete_slides', {'id': section.id}) }}"
        data-confirm-message="{{ 'confirm'|trans }}"
        data-target="#slides-{{ section.id }}"
        class="button small alert">
        <i class="fi-x"></i>&nbsp;
        <span class="hide-for-small-only">{{ 'delete'|trans }}</span>
      </button>
    </li>
  </ul>
</div>
<div class="section-info">
  <ul class="inline-list right">
    {% if section.hasTag %}
    <li>
      <span class="secondary round label">
        <i class="fi-price-tag"></i>
        {{ section.tag }}
      </span>
    </li>
    {% endif %}
    <li>
      <span class="secondary round label">
        <i class="fi-projection-screen"></i>
        {{ ('gallery.mode.'~section.gallery_mode)|trans }}
      </span>
    </li>
    <li>
      <span class="secondary round label">
        <i class="fi-graph-pie"></i>
        {{ widgets.bytes_format(section.weight) }}
      </span>
    </li>
    {% if section.shuffle %}
    <li>
      <span class="secondary round label">
        <i class="fi-shuffle"></i>
        {{ 'gallery.slide.shuffle'|trans }}
      </span>
    </li>
    {% endif %}
  </ul>
</div>
{% if section.hasItems %}
<ul id="slides-{{ section.id }}"
    class="small-block-grid-2 medium-block-grid-3 large-block-grid-6 slides-grid"
    data-selected=""
    data-sortable="{{ path('admin_content_manager_sort_items') }}">
  {% for slide in section.itemsRealHierarchy %}
  <li data-selectable data-id="{{ slide.id }}"
      {% if slide.published %}class="active"{% endif %}>
    <img class="th handle"
         src="{{ app.request.basepath }}/gallery/220/{{ slide.path }}">
      <i class="fi-check"></i>
      <i class="fi-prohibited slide-state"></i>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="notice-empty">{{ 'gallery.no.pics'|trans }}</p>
{% endif %}
{% endspaceless %}