{% spaceless %}
<div id="slides-actions-{{ section_id }}" class="hidden">
  <ul class="button-group">
    <li>
      <h3 class="selectable-counter">&nbsp;</h3>
    </li>
    <li>
      <a href="#"
         class="button small"
         data-display="#delete-slides-{{ section_id }}">
        {{ 'delete'|trans }}
      </a>
    </li>
    <li>
      <a href="#"
         data-delete="{{ path('admin_gallery_manager_delete_slides', {'id': section_id}) }}"
         data-target="#slides-{{ section_id }}"
         id="delete-slides-{{ section_id }}"
         class="button small alert hidden">
        {{ 'confirm'|trans }}
      </a>
    </li>
    <li>
      <a href="#"
         data-dropdown="drop"
         class="button dropdown small">
        {{ 'move'|trans }}
      </a><br>
      <ul id="drop" data-dropdown-content class="f-dropdown">
        {% for sectionMove in sections
            if 'gallery' == sectionMove.type
            and sectionMove.id != section_id %}
        <li><a href="#">{{ sectionMove.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
<ul id="slides-{{ section_id }}"
    class="small-block-grid-2 medium-block-grid-3 large-block-grid-6 slides-grid"
    data-selectable="#slides-actions-{{ section_id }}"
    data-selected=""
    data-sortable="{{ path('admin_content_manager_sort_items') }}">
  {% for slide in slides %}
  <li data-id="{{ slide.id }}">
    <img class="th handle"
         src="{{ app.request.basepath }}/gallery/220/{{ slide.path }}">
  </li>
  {% endfor %}
</ul>
{% endspaceless %}