{% spaceless %}
<form class="gallery-upload"
      id="gallery-upload{{ section.id }}"
      action="{{ path('admin_gallery_manager_upload') }}"
      method="POST"
      enctype="multipart/form-data">
    {% if not section.hasItems %}
        <p class="notice-empty">{{ 'gallery.no.pics'|trans }}</p>
    {% endif %}
    <ul id="slides-{{ section.id }}"
        class="small-block-grid-2 medium-block-grid-3 large-block-grid-6 slides-grid upload-grid"
        data-selected=""
        data-sortable="{{ path('admin_content_manager_sort_items') }}">
        {% for slide in section.itemsRealHierarchy %}
            <li data-selectable data-id="{{ slide.id }}"
                {% if slide.published %}class="active"{% endif %}>
                <img class="th handle"
                     src="{{ app.request.basepath }}/gallery/220/{{ slide.path }}">
                <i class="fi-check"></i><i class="fi-prohibited slide-state"></i>
            </li>
        {% endfor %}
    </ul>
    <ul class="inline-list">
      <li>
        <div class="secondary upload-link button">
            <i class="fi-upload-cloud"></i>&nbsp;
            <span>{{ 'gallery.upload'|trans }}</span>
            <input type="file" name="files[]" multiple>
        </div>
      </li>
      <li>
        <p class="upload-info"
            data-upload-info="{{ 'gallery.upload.info'|trans }}">
            {{ 'gallery.drop.here'|trans }}
        </p>
      </li>
    </ul>
    <div class="progress">
        <span class="meter" style="width: 0%;"></span>
    </div>
    <div class="hidden">
        <input type="hidden" name="sectionId" value="{{ section.id }}">
        <button type="submit"></button>
    </div>
</form>
<script>
    smartUpload('#gallery-upload{{ section.id }}');
</script>
{% endspaceless %}
